// variables

$greenColor: rgba(145, 169, 163, 1);
$greenColorOpacity: rgba(145, 169, 163, 0.7);
$orangeColor: #edb056;
$darkGreenColor: #586f69;
$backgroundColor: #f7f7f7;

$textFontSize: 16px;
$titleFontSize: 24px;

$myPTSans: "PTSans";
$myPTSerif: "PTSerif";

// functions


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: $myPTSans;
    padding-bottom: 0 !important;
    background-color: white;
}

.footer {
    z-index: 150 !important;

    @media screen and (max-width: 370px) {
        margin-top: 0 !important;
    }
}

.header-section {
    background-image: url(../img/pages-name-imgs/FACE/images/catalog-forbo_02.jpg);
    background-size: 100% 100%;
    height: 300px;
    width: 100vw;
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 200;

    @media screen and (max-width: 820px) {
        background-size: 300% 100%;
    }

    @media screen and (max-width: 500px) {
        height: 200px;
        margin-bottom: 10px;
    }

    .header-section__content {
        width: 1200px;
        margin: 0 auto;
        position: relative;

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            left: -340px;
        }

        @media screen and (max-width: 1200px) {
            width: 100vw;
            margin: 0 0 0 0;
        }

        .content__orange-title {
            height: 75px;
            background-color: $orangeColor;
            align-items: center;
            color: white;
            font-size: 36px;
            line-height: 24px;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            padding-left: 40px;
            padding-right: 40px;
            position: absolute;
            bottom: 0;
            left: 0;
            font-family: $myPTSans;
            font-weight: lighter;

            @media screen and (max-width: 550px) {
                font-size: 24px;
                width: 100vw;
                margin-left: 0;
            }

            @media screen and (max-width: 410px) {
                padding-left: 10px;
                padding-right: 10px;
                height: 60px;
            }

            @media screen and (max-width: 410px) {
                padding-left: 5px;
                padding-right: 5px;
                font-size: 20px;
            }
        }
    }
}

.main-section {
    width: 1200px;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 1200px) {
        width: 100vw;
        padding: 0 5px 0 5px;
    }

    .first-block {
        display: grid;
        grid-template-columns: 8fr 4fr;
        margin-top: 18px;
        grid-column-gap: 25px;

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            display: -ms-grid;
            -ms-grid-columns: 8fr 4fr;
        }

        @media screen and (max-width: 425px) {
            grid-template-columns: 12fr;
        }

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
            display: -ms-grid;
            -ms-grid-columns: 8fr 4fr;

        }

        .text-content {
            text-align: justify;

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                -ms-grid-column: 1;
                -ms-grid-row: 1;

            }

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                -ms-grid-column: 1;
            }

            .title {
                font-size: 24px;
                color: $orangeColor;
                text-transform: uppercase;

                @media screen and (max-width: 425px) {
                    text-align: center;
                }
            }

            .text {
                margin-top: 25px;
                color: $darkGreenColor;
                font-size: 16px;

                @media screen and (max-width: 425px) {
                    margin-top: 15px;
                }
            }
        }

        .sections {

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                padding-left: 25px;
            }

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                margin-left: 25px;
                -ms-grid-column: 2;
            }

            .menu {
                width: 100%;

                @media screen and (max-width: 425px) {
                    margin-top: 15px;
                }

                .list-item {
                    display: grid;
                    grid-template-columns: repeat(2, 6fr);
                    grid-row-gap: 15px;

                    .menu-list-item {
                        list-style-type: none;
                        font-size: 16px;
                        color: $darkGreenColor;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        border-left: 4px solid $orangeColor;
                        padding-left: 20px;

                        &:nth-child(n2+2) {
                            grid-column: 2;
                        }

                        @media screen and (-ms-high-contrast: active),
                        (-ms-high-contrast: none) {
                            &:nth-child(1) {
                                -ms-grid-row: 1;
                                -ms-grid-column: 1;
                            }

                            &:nth-child(2) {
                                -ms-grid-row: 1;
                                -ms-grid-column: 2;
                            }

                            &:nth-child(3) {
                                -ms-grid-row: 2;
                                -ms-grid-column: 1;
                                margin-top: 15px;
                            }

                            &:nth-child(4) {
                                -ms-grid-row: 2;
                                -ms-grid-column: 2;
                                margin-top: 15px;
                            }

                            &:nth-child(5) {
                                -ms-grid-row: 3;
                                -ms-grid-column: 1;
                                margin-top: 15px;
                            }

                            &:nth-child(6) {
                                -ms-grid-row: 3;
                                -ms-grid-column: 2;
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .second-block {
        margin-top: 55px;

        .faces {
            display: grid;
            grid-template-columns: 4fr 4fr 4fr;
            grid-column-gap: 15px;
            grid-row-gap: 15px;

            @media screen and (max-width: 425px) {
                grid-template-columns: 12fr;
            }

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                display: -ms-grid;
                -ms-grid-columns: 4fr 4fr 4fr;
            }

            .person-item {
                min-height: 475px;
                position: relative;
                background-color: #f7f7f7;
                cursor: pointer;
                transition: .3s;
                overflow: hidden;

                @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                    &:nth-child(1) {
                        -ms-grid-column: 1;
                        -ms-grid-row: 1;
                    }

                    &:nth-child(2) {
                        -ms-grid-column: 2;
                        -ms-grid-row: 1;
                        margin-left: 15px;
                    }

                    &:nth-child(3) {
                        -ms-grid-column: 3;
                        -ms-grid-row: 1;
                        margin-left: 15px;
                    }

                    &:nth-child(4) {
                        -ms-grid-column: 1;
                        -ms-grid-row: 2;
                        margin-top: 15px;
                    }

                    &:nth-child(5) {
                        -ms-grid-column: 2;
                        -ms-grid-row: 2;
                        margin-left: 15px;
                        margin-top: 15px;
                    }

                    &:nth-child(6) {
                        -ms-grid-column: 3;
                        -ms-grid-row: 2;
                        margin-left: 15px;
                        margin-top: 15px;
                    }

                    &:nth-child(7) {
                        -ms-grid-column: 1;
                        -ms-grid-row: 3;
                        margin-top: 15px;
                    }

                    &:nth-child(8) {
                        -ms-grid-column: 2;
                        -ms-grid-row: 3;
                        margin-left: 15px;
                        margin-top: 15px;
                    }

                    &:nth-child(9) {
                        -ms-grid-column: 3;
                        -ms-grid-row: 3;
                        margin-left: 15px;
                        margin-top: 15px;
                    }

                    &:nth-child(10) {
                        -ms-grid-column: 1;
                        -ms-grid-row: 4;
                        margin-top: 15px;
                    }

                    &:nth-child(11) {
                        -ms-grid-column: 2;
                        -ms-grid-row: 4;
                        margin-left: 15px;
                        margin-top: 15px;
                    }

                    &:nth-child(12) {
                        -ms-grid-column: 3;
                        -ms-grid-row: 4;
                        margin-left: 15px;
                        margin-top: 15px;
                    }

                    &:nth-child(13) {
                        -ms-grid-column: 1;
                        -ms-grid-row: 5;
                        margin-top: 15px;
                    }

                    &:nth-child(14) {
                        -ms-grid-column: 2;
                        -ms-grid-row: 5;
                        margin-left: 15px;
                        margin-top: 15px;
                    }
                }

                &:hover {
                    background-color: $orangeColor;
                }

                &:hover .person-img {
                    transform: scale(1.02);
                }

                &:hover .person-name {
                    color: white !important;

                    &:after {
                        background-color: white !important;
                    }
                }

                &:hover .person-position {
                    color: white !important;

                    &:before {
                        background-color: white !important;
                    }
                }



                .person-img {
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    transition: .3s;
                }

                .person-info {
                    padding: 30px 0 30px 20px;

                    .person-name {
                        font-size: 24px;
                        color: #374436;
                        line-height: 24px;
                        transition: .3s;

                        .last-name {
                            text-transform: uppercase;
                        }

                        &:after {
                            content: '';
                            display: block;
                            width: 55%;
                            height: 1px;
                            background-color: $darkGreenColor;
                            margin-top: 12px;
                            transition: .3s;
                        }
                    }

                    .person-position {
                        font-size: 16px;
                        display: flex;
                        height: 22px;
                        align-items: center;
                        margin-top: 12px;
                        margin-left: 15px;
                        font-family: $myPTSerif;
                        font-style: italic;
                        color: $orangeColor;

                        &:before {
                            content: '';
                            display: block;
                            height: 10px;
                            width: 10px;
                            background-color: $orangeColor;
                            transform: translateX(-15px) translateY(2px);
                        }
                    }
                }
            }
        }
    }
}

.modals {
    position: relative;

    .person-item_modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: -1;
        opacity: 0;
        padding-top: 100px;
        pointer-events: none;
        transition: .3s;

        @media screen and (max-width: 425px) {
            overflow-y: scroll !important;
        }


        .two-sections {
            grid-template-columns: 3fr 5fr !important;
            width: 800px !important;

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                display: -ms-grid;
                -ms-grid-columns: 3fr 5fr;
            }

            @media screen and (max-width: 425px) {
                width: 100vw !important;
                grid-template-columns: 12fr !important;
                grid-template-rows: 100% 100%;
                // height: auto !important;
            }
        }

        .grid-sections {
            position: relative;
            height: 75vh;
            width: 1200px;
            top: 50%;
            left: 50%;
            background-color: #f7f7f7;
            transform: translate(-50%, -50%);
            display: grid;
            grid-template-columns: 3fr 5fr 4fr;
            z-index: 210;
            overflow: hidden;

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                display: -ms-grid;
                -ms-grid-columns: 3fr 5fr 4fr;
            }


            @media screen and (max-width: 425px) {
                grid-template-columns: 12fr;
                width: 100vw;
                overflow-y: scroll;
                overflow-x: hidden;
                top: 0;
                left: 0;
                transform: none;
            }

            @media screen and (max-height: 850px) {
                height: 100vh;
            }


            .first-column {
                box-shadow: 3px 1px 12px -8px #000000;

                @media screen and (max-width: 425px) {
                    height: 100vh;
                }

                @media screen and (max-width: 375px) {
                    height: 120vh;
                }

                @media screen and (max-width: 340px) {
                    height: 130vh;
                }

                .person-photo-modal {
                    width: 100%;
                    max-height: 90%;
                    position: relative;

                    @media screen and (max-width: 425px) {
                        max-height: 80%;
                    }
                }

                .person-info {
                    padding: 30px 0 30px 20px;

                    .person-name {
                        font-size: 24px;
                        color: #374436;
                        line-height: 24px;
                        transition: .3s;

                        .last-name {
                            text-transform: uppercase;
                        }

                        &:after {
                            content: '';
                            display: block;
                            width: 55%;
                            height: 1px;
                            background-color: $darkGreenColor;
                            margin-top: 12px;
                            transition: .3s;
                        }
                    }

                    .person-position {
                        font-size: 16px;
                        display: flex;
                        height: 22px;
                        align-items: center;
                        margin-top: 12px;
                        margin-left: 15px;
                        font-family: $myPTSerif;
                        font-style: italic;
                        color: $orangeColor;

                        &:before {
                            content: '';
                            display: block;
                            height: 10px;
                            width: 10px;
                            background-color: $orangeColor;
                            transform: translateX(-15px) translateY(2px);
                        }
                    }
                }
            }

            .second-column {
                padding: 25px 50px 0 50px;

                @media screen and (max-width: 425px) {
                    margin-bottom: 20px;
                    padding: 25px 10px 0 10px;
                }

                .text-content {
                    .title {
                        color: $orangeColor;
                        text-transform: uppercase;
                        font-size: 20px;
                    }

                    .text {
                        margin-top: 20px;
                        color: $darkGreenColor;
                        font-size: 16px;
                        text-align: justify;
                    }

                    .orange-text {
                        color: $orangeColor;
                    }
                }

                .favourite {
                    margin-top: 10px;

                    .grid {
                        display: grid;
                        grid-template-columns: 2fr 10fr;
                        grid-column-gap: 25px;
                        margin-top: 30px;

                        img {
                            height: 50px;
                            width: 50px;
                        }

                        .fav-info {
                            .title {
                                color: $orangeColor;
                                font-size: 18px;
                                text-transform: uppercase;
                            }

                            .text {
                                color: $darkGreenColor;
                                font-size: 16px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }

            .third-column {
                border-left: 4px solid $orangeColor;
                overflow-y: scroll;

                @media screen and (max-width: 425px) {
                    height: 100vh;
                }

                .switch-containers {
                    position: sticky;
                    top: 0;
                    width: 100%;
                    background-color: white;
                    z-index: 10;

                    .menu-switch {
                        display: flex;
                        width: 100%;
                        justify-content: center;

                        .switch-containers {
                            display: grid;
                            grid-template-columns: 4fr 4fr 4fr;
                            grid-column-gap: 2px;

                            .switch-containers-btns {
                                list-style-type: none;
                                display: flex;
                                justify-content: center;
                                background-color: #e8e8e8;
                                height: 45px;
                                align-items: center;
                                cursor: pointer;
                                color: $orangeColor;
                                transition: .3s;

                                &:hover {
                                    opacity: 0.6;
                                }
                            }

                            .active-btn {
                                background-color: $orangeColor;
                                color: white;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                .mix-container {
                    z-index: 5;
                    position: relative;

                    .mix-container-item {
                        padding: 0px 10px 0 10px;
                        position: absolute;
                        opacity: 0;
                        transition: .3s;
                        height: 0;

                        .sert-img {
                            width: 0;
                            margin-top: 10px;
                            height: 0;
                        }
                    }

                    .mix-container-item.publish {
                        padding: 20px;

                        .publish-link {
                            font-size: 16px;
                            color: $orangeColor;
                            font-style: italic;
                            text-decoration: none;
                            display: flex;
                            // padding-left: 10px;
                            transition: .3s;
                            margin-top: 10px;

                            // &:before {
                            //     content: '';
                            //     display: block;
                            //     height: 10px;
                            //     width: 10px;
                            //     background-color: $orangeColor;
                            //     // margin-right: 20px;
                            //     margin-top: 5px;
                            // }

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }

                    .active-block {
                        opacity: 1 !important;
                        position: relative !important;
                        height: auto !important;

                        .sert-img {
                            width: 100% !important;
                            height: auto !important;
                        }
                    }
                }
            }
        }
    }

    .open-modal {
        z-index: 200 !important;
        pointer-events: auto !important;
        opacity: 1 !important;
        padding-top: 0 !important;
    }

    .switch-modals-arrow {
        opacity: 0;
        z-index: -1;
        height: 35px;
        width: 25px;
        position: fixed;
        top: 50%;
        cursor: pointer;
        filter: brightness(90%);
        transition: .3s;

        &:hover {
            filter: brightness(110%);
        }

    }

    .left {
        left: 5%;
        transform: rotate(180deg);

        &:active {
            transform: scale(0.95) rotate(180deg);
        }

        @media screen and (max-width: 425px) {
            left: 2%;
        }
    }

    .right {
        right: 5%;

        &:active {
            transform: scale(0.95);
        }

        @media screen and (max-width: 425px) {
            right: 2%;
        }
    }

    .arrow-show {
        opacity: 1 !important;
        z-index: 300;
    }

    .close-cross {
        height: 40px;
        width: 40px;
        position: fixed;
        z-index: -1;
        opacity: 0;
        top: 2%;
        right: 5%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 425px) {
            right: 2%;
        }

        &:hover span {
            filter: brightness(100%);
        }

        &:active {
            transform: scale(0.95);
        }

        span {
            position: absolute;
            height: 3px;
            width: 40px;
            background-color: white;
            border-radius: 10px;
            filter: brightness(85%);
            transform: rotate(-45deg);
            transition: .3s;

            &:before {
                content: '';
                display: block;
                height: 3px;
                width: 40px;
                background-color: white;
                border-radius: 10px;
                transform: rotate(90deg);

            }
        }
    }

    .close-cross_act {
        opacity: 1 !important;
        z-index: 300 !important;
    }
}

.hide-overflow {
    overflow: hidden !important;
}

.display-none {
    display: none;
}


::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0;
    background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #edb056;
}

::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}