* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding-bottom: 0 !important;
}

.section-main .search-block #ya-site-form1 {
  overflow: hidden;
}

.section-main .first-block {
  width: 100vw;
}

.section-main .first-block .first-block-top {
  position: relative;
  height: 300px;
}

.section-main .first-block .first-block-top .main-bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.section-main .first-block .first-block-top .center-element {
  max-width: 1200px;
  margin: auto;
}

.section-main .first-block .first-block-top .center-element .content_orange-title {
  height: 75px;
  background-color: #edb056;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  bottom: 0;
  font-family: 'PTSans';
}

.section-main .first-block .first-block_content {
  position: relative;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'info navigation';
  max-width: 1200px;
  -ms-grid-columns: 8fr 4fr;
      grid-template-columns: 8fr 4fr;
  grid-column-gap: 15px;
  grid-row-gap: 32px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "PTSans";
  bottom: 0;
  margin-top: 35px;
}

@media screen and (max-width: 1024px) {
  .section-main .first-block .first-block_content {
    padding: 0 5px 0 5px;
  }
}

.section-main .first-block .first-block_content .forbo-content_navigation {
  top: -25px !important;
}

.section-main .first-block .first-block_content .content_navigation {
  position: absolute;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navigation;
  bottom: 0;
  right: 10px;
}

.section-main .first-block .first-block_content .content_navigation li {
  height: 40px;
  border-left: 4px solid #edb056;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-main .first-block .first-block_content .content_navigation li:nth-child(2) {
  margin-bottom: 10px;
  margin-top: 10px;
}

.section-main .first-block .first-block_content .content_navigation li:nth-child(1) a {
  color: #586f69;
}

.section-main .first-block .first-block_content .content_navigation li a {
  list-style-type: none;
  color: #586f69;
  padding-left: 21px;
  padding-right: 10px;
  font-size: 16px;
  letter-spacing: 0.16px;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}

.section-main .first-block .first-block_content .content_navigation li:hover {
  background-color: #edb056;
}

.section-main .first-block .first-block_content .content_navigation li:hover a {
  color: white;
}

.section-main .first-block .first-block_content .content_info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  padding-left: 0px;
}

.section-main .first-block .first-block_content .content_info .title {
  color: #e2a459;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 24px;
  text-transform: uppercase;
}

.section-main .first-block .first-block_content .content_info .text {
  padding-top: 20px;
  color: #586f69;
  font-family: "PTSans";
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-main .search-block {
  max-width: 1200px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 26px;
  font-family: "PTSans";
  max-width: 1200px;
  overflow: hidden;
}

.section-main .search-block #ya-site-form1 {
  height: 53px;
  max-width: 1200px !important;
}

.section-main .second-block {
  max-width: 1200px;
  margin: auto;
  font-family: "PTSans";
  position: relative;
  margin-top: 40px;
}

.section-main .second-block .second-block_container {
  display: grid;
  -ms-grid-columns: (minmax(300px, 4fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  -ms-grid-rows: minmax(939px, auto) minmax(660px, auto) minmax(575px, auto);
      grid-template-rows: minmax(939px, auto) minmax(660px, auto) minmax(575px, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  overflow-x: hidden;
  display: -ms-grid;
  -ms-grid-columns: 4fr 4fr 4fr;
  -ms-grid-rows: 980px 660px 575px;
}

.section-main .second-block .second-block_container .container_item {
  background-color: #f7f7f7;
  overflow-x: hidden;
}

@supports (-ms-ime-align: auto) {
  .section-main .second-block .second-block_container .container_item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(9) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .second-block .second-block_container .container_item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item:nth-child(9) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
}

@media screen and (max-width: 800px) {
  .section-main .second-block .second-block_container .container_item {
    padding-bottom: 20px;
  }
}

.section-main .second-block .second-block_container .container_item .container_item_img {
  position: relative;
  width: 100%;
}

@supports (-ms-ime-align: auto) {
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(1) {
    height: 250px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(9) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(1) {
    height: 250px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    margin-bottom: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img:nth-child(9) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
}

.section-main .second-block .second-block_container .container_item .container_item_header {
  padding: 33px 20px 32px 45px;
  color: #edb056;
  text-transform: uppercase;
  font-size: 24px;
}

.section-main .second-block .second-block_container .container_item .container_item_header-once {
  padding: 33px 10px 32px 45px;
  color: #edb056;
  text-transform: uppercase;
  font-size: 24px;
}

.section-main .second-block .second-block_container .container_item .container_item_vid {
  padding: 0px 10px 27px 45px;
  color: #edb056;
  text-transform: uppercase;
  font-size: 18px;
}

.section-main .second-block .second-block_container .container_item .list .container_item_list {
  border-left: 10px solid #e2a459;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  margin-left: 44px;
}

.section-main .second-block .second-block_container .container_item .list .container_item_list a {
  list-style-type: none;
  margin-top: -6px;
  padding-left: 23px;
  font-size: 18px;
  color: #586f69;
  cursor: pointer;
  text-decoration: none;
}

.section-main .second-block .second-block_container .container_item .list .container_item_list a:hover {
  color: #edb056;
}

.section-main .second-block .second-block_container .container_item .list .container_item_list .inside-list {
  border-left: 1px solid #e2a459;
  height: 151px;
  margin-left: -124px;
  margin-top: 30px;
}

.section-main .second-block .second-block_container .container_item .list .container_item_list .inside-list .container_item_list-inside {
  border-left: 12px solid #e2a459;
  height: 1px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  font-size: 16px;
}

.section-main .second-block .second-block_container .container_item .list .container_item_list .inside-list .container_item_list-inside a {
  font-size: 16px;
  margin-top: -11px;
  margin-left: -15px;
}

.section-main .second-block .second-block_container .container_item .list .container_item_list .inside-list-two {
  border-left: 1px solid #e2a459;
  height: 281px;
  margin-left: -140px;
  margin-top: 30px;
}

.section-main .second-block .second-block_container .container_item .list .container_item_list .inside-list-two .container_item_list-inside {
  border-left: 12px solid #e2a459;
  height: 1px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  font-size: 16px;
}

.section-main .second-block .second-block_container .container_item .list .container_item_list .inside-list-two .container_item_list-inside a {
  font-size: 16px;
  margin-top: -11px;
  margin-left: -15px;
}

.section-main .second-block .second-block_container .container_item .arrow-open-container {
  display: none;
}

.section-main .third-block {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  font-family: "PTSans";
  position: relative;
}

.section-main .third-block .third-block_container {
  position: relative;
  border-top: 4px solid #edb056;
  border-bottom: 4px solid #edb056;
  height: 671px;
}

.section-main .third-block .third-block_container .container_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.section-main .third-block .third-block_container .container_opacity-block {
  position: absolute;
  background-color: rgba(88, 111, 105, 0.8);
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  padding: 43px 54px 0px 52px;
}

.section-main .third-block .third-block_container .container_opacity-block .opacity_title {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: white;
}

.section-main .third-block .third-block_container .container_opacity-block .opacity_text {
  font-size: 16px;
  color: white;
  line-height: 24px;
  text-align: justify;
}

.section-main .third-block .third-block_container .container_opacity-block .opacity_text p {
  padding-top: 25px;
}

.section-main .fourth-block {
  max-width: 1200px;
  margin: auto;
  margin-top: 27px;
  font-family: "PTSans";
  position: relative;
  height: auto;
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block {
    overflow: hidden;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block {
    overflow: hidden;
  }
}

.section-main .fourth-block .fourth-block_container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  width: 100%;
  height: auto;
  grid-column-gap: 30px;
  display: -ms-grid;
  -ms-grid-columns: 6fr 6fr;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left {
  display: grid;
  grid-template-columns: 12fr;
  grid-row-gap: 30px;
  display: -ms-grid;
  -ms-grid-columns: 12fr;
  -ms-grid-column: 1;
  -ms-grid-rows: 2;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list {
  display: grid;
  grid-template-columns: 12fr;
  grid-row-gap: 5px;
  display: -ms-grid;
  -ms-grid-columns: 12fr;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-rows: 6;
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list {
    margin-top: 20px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list {
    margin-top: 20px;
  }
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-header {
  font-family: 'PTSans';
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #e2a459;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 50px 0 5px 0;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-header {
    padding: 0 5px 0 5px;
  }
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-header {
    margin-top: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-header {
    margin-top: 0px;
  }
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item {
  font-family: 'PTSans';
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 3px;
  grid-row-gap: 5px;
  -ms-grid-rows: minmax(40px, 98px);
      grid-template-rows: minmax(40px, 98px);
  display: -ms-grid;
  display: -ms-gird;
  -ms-grid-columns: 2fr 10fr;
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item {
    margin-top: 5px;
    background-color: #f7f7f7;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:last-child {
    margin-top: 65px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item {
    margin-top: 5px;
    background-color: #f7f7f7;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:last-child {
    margin-top: 65px;
  }
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
  }
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #edb056;
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
  }
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .icon-block .icon-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: relative;
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block {
    margin-top: -45px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block {
    margin-top: -45px;
  }
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(1) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-row: 5;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-row: 6;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(1) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-row: 5;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-row: 6;
  }
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block .text {
  padding: 0 30px 0 30px;
  word-wrap: break-word;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #586f69;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-item {
  width: 100%;
  height: 100%;
  position: relative;
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-item {
    margin-top: 750px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-item {
    margin-top: 750px;
  }
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-item .border-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #edb056;
  height: 35px;
  width: 13px;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-item .header-item {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #e2a459;
  text-transform: uppercase;
  padding: 0 50px 0 50px;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-item .text-item p {
  color: #586f69;
  font-size: 16px;
  padding: 0 50px 0 50px;
  margin-top: 30px;
  text-align: justify;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-right {
  width: 100%;
  display: grid;
  grid-template-columns: 12fr;
  font-family: 'PTSans';
  display: -ms-grid;
  -ms-grid-columns: 12fr;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
}

@supports (-ms-ime-align: auto) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-right {
    margin-left: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .fourth-block .fourth-block_container .fourth-block_container-right {
    margin-left: 10px;
  }
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block {
  position: relative;
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block .container-block_img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block .container-header {
  padding: 40px 0 0 40px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #e2a459;
  text-transform: uppercase;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block .container-text {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 60px;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block .container-text p {
  margin-top: 5px;
  padding: 0 40px 20px 40px;
  color: #586f69;
  font-size: 16px;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block .container-text p a {
  color: #e2a459;
  text-decoration: none;
}

.section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block .container-text p a:hover {
  text-decoration: underline;
}

.section-main .fifth-block {
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
  font-family: "PTSans";
  overflow: hidden;
  position: relative;
}

.section-main .fifth-block .fifth-block_container {
  display: grid;
  -ms-grid-columns: 3fr 6fr 3fr;
      grid-template-columns: 3fr 6fr 3fr;
  grid-column-gap: 0px;
  display: -ms-grid;
  -ms-grid-columns: 350px 500px 350px;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item {
  height: 300px;
  position: relative;
  padding-top: 10px;
  border-top: 4px solid #edb056;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(2) {
    margin-left: 0;
  }
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  margin-left: 20px;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item:hover .item_img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: .3s;
  transition: .3s;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item .item_img_block {
  width: 100%;
  height: 196px;
  overflow: hidden;
  position: relative;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item .item_img_block .item_img {
  width: 100%;
  position: absolute;
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
  height: 220px;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item .item_img_block .img_icon {
  position: absolute;
  right: -1px;
  top: 0;
  height: 60px;
  width: 60px;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item .item_img_block .opacity-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.2;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item .item_img_block .sale {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-size: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item .text-block {
  position: absolute;
  bottom: 10px;
  background-color: #f7f7f7;
  width: 100%;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item .text-block .text {
  color: #586f69;
  font-size: 18px;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item .text-block .arrow {
  margin-left: 10px;
}

.section-main .fifth-block .fifth-block_container .fifth-block_container_item .text-block:hover .text {
  color: #edb056;
  -webkit-transition: .3s;
  transition: .3s;
}

#ya-site-form1 .ya-site-form__form .ya-site-form__input-text {
  height: 53px !important;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'PT Sans';
  width: 100.5vw;
}

#ya-site-form1 .ya-site-form__form {
  margin-left: -0.5%;
}

.ya-site-form__search-input-layout-l {
  width: 100vw;
}

@media screen and (max-width: 1200px) {
  .ya-site-form__form {
    width: 100vw;
  }
}

@media screen and (max-width: 800px) {
  .section-main .third-block .third-block_container {
    height: 100vh;
  }
  .section-main .third-block .third-block_container .container_opacity-block {
    width: 100%;
    overflow: auto;
    padding: 43px 20px 20px 20px;
  }
  .section-main .fifth-block .fifth-block_container {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 22px;
  }
  .section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(2) {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(1) {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 75%;
  }
  .section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(3) {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 63%;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 650px) {
  .section-main .first-block .first-block-top {
    height: 200px;
  }
  .section-main .first-block .first-block-top .center-element .content_orange-title {
    font-size: 32px;
  }
  .section-main .first-block .first-block_content {
    position: relative;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'navigation' 'info';
    width: 100vw;
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
  .section-main .first-block .first-block_content .content_navigation {
    position: absolute;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: navigation;
    bottom: -10px;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  .section-main .first-block .first-block_content .content_navigation a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .section-main .first-block .first-block_content .content_info {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: info;
    padding: 0px 10px 0 10px;
  }
  .section-main .first-block .first-block_content .content_info .title {
    font-size: 20px;
  }
  .section-main .first-block .first-block_content .content_info .text {
    font-size: 14px;
  }
  .section-main .fourth-block .fourth-block_container {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    grid-column-gap: 30px;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left {
    grid-row-gap: 30px;
    margin-bottom: 30px;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-header {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    padding: 0 10px 0 10px;
    text-align: center;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item {
    -ms-grid-columns: 3fr 9fr;
        grid-template-columns: 3fr 9fr;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .container-left_list-item .text-block .text {
    padding: 0 10px 0 10px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 20px;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-item .header-item {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 20px;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-item .text-item {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-left .container-left_list .list-item .text-item p {
    font-size: 14px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block .container-header {
    padding: 20px 0 0 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #e2a459;
    text-transform: uppercase;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block .container-text {
    margin-top: 20px;
  }
  .section-main .fourth-block .fourth-block_container .fourth-block_container-right .container-block .container-text p {
    margin-top: 5px;
    padding: 0 20px 20px 20px;
    color: #586f69;
    font-size: 14px;
  }
  .section-main .fifth-block .fifth-block_container {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 22px;
  }
  .section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(2) {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
  }
  .section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(1) {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 100%;
  }
  .section-main .fifth-block .fifth-block_container .fifth-block_container_item:nth-child(3) {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 100%;
  }
  .section-main .fifth-block .fifth-block_container .fifth-block_container_item .text-block {
    text-align: center;
  }
  .section-main .fifth-block .fifth-block_container .fifth-block_container_item .item_img_block .sale {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .section-main .first-block .first-block-top .center-element .content_orange-title {
    font-size: 28px;
    width: 100%;
    padding-left: 10px;
  }
  .section-main .first-block .first-block_content {
    position: relative;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'navigation' 'info';
    width: 100vw;
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
  .section-main .first-block .first-block_content .content_navigation {
    position: absolute;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: navigation;
    bottom: -15px;
    width: 100vw;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    left: -9px;
  }
  .section-main .first-block .first-block_content .content_navigation li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    margin-left: 9px;
  }
  .section-main .first-block .first-block_content .content_navigation li:nth-child(3) {
    width: 40%;
  }
  .section-main .first-block .first-block_content .content_navigation li a {
    font-size: 14px;
    width: 100%;
    padding: 0 0 0 7px;
    text-decoration: none;
  }
  .section-main .first-block .first-block_content .content_navigation li:nth-child(2) {
    margin-left: -8px;
  }
  .section-main .first-block .first-block_content .content_navigation li:nth-child(3) {
    margin-left: -10px;
  }
  .section-main .first-block .first-block_content .content_info {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: info;
    margin-top: 0px;
    padding: 0px 10px 0 10px;
  }
  .section-main .second-block .second-block_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 4fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    -ms-grid-rows: none;
        grid-template-rows: none;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    overflow-x: hidden;
  }
  .section-main .second-block .second-block_container .container_item {
    background-color: #f7f7f7;
    overflow: hidden;
    position: relative;
    height: 320px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .section-main .second-block .second-block_container .container_item .container_item_img {
    position: relative;
    width: 100%;
    height: 250px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_header {
    position: relative;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #edb056;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 8px;
    padding: 0 50px 0 50px;
  }
  .section-main .second-block .second-block_container .container_item .container_item_header-once {
    position: relative;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #edb056;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 0 20px 0 20px;
  }
  .section-main .second-block .second-block_container .container_item .arrow-open-container {
    display: block;
    position: absolute;
    bottom: 20px;
    margin-bottom: 5px;
    height: 16px;
    width: 50px;
    right: 0%;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

@media screen and (min-width: 500px) {
  .rows-fix {
    -ms-grid-rows: minmax(715px, auto) minmax(750px, auto) minmax(575px, auto) !important;
        grid-template-rows: minmax(715px, auto) minmax(750px, auto) minmax(575px, auto) !important;
  }
}

@media screen and (max-width: 370px) {
  .fifth-block {
    margin-bottom: 150px !important;
  }
}

.container_item_act {
  height: 100% !important;
}

.arrow-open-container_act {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #edb056;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}
/*# sourceMappingURL=katalog_gerflor.css.map */