* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding-bottom: 0 !important;
}

.main-section .first-block {
  background-image: url(../img/pages-name-imgs/catalog/images/top-2-best_02.jpg);
  background-size: 100% 100%;
  background-position: center;
  height: 300px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (max-width: 900px) {
  .main-section .first-block {
    background-size: 300% 100%;
  }
}

.main-section .first-block .first-block__content {
  max-width: 1200px;
  margin: auto;
}

.main-section .first-block .first-block__content .content_orange-title {
  height: 75px;
  background-color: #edb056;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  bottom: 0;
  font-family: 'PTSans';
  font-weight: lighter;
}

@media screen and (max-width: 500px) {
  .main-section .first-block .first-block__content .content_orange-title {
    width: 100vw;
  }
}

.main-section .search-block {
  max-width: 1200px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 26px;
  font-family: "PTSans";
  max-width: 1200px;
  overflow: hidden;
}

.main-section .search-block #ya-site-form1 {
  height: 53px;
  max-width: 1200px !important;
}

.main-section .second-block {
  max-width: 1200px;
  margin: auto;
}

@media screen and (max-width: 1115px) {
  .main-section .second-block {
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 560px) {
  .main-section .second-block {
    padding: 0 0px 0 0px;
  }
}

.main-section .second-block .second-block__content {
  display: grid;
  grid-template-columns: 45% 50%;
  grid-column-gap: 50px;
  width: 100%;
  font-family: "PTSans";
  display: -ms-grid;
  -ms-grid-columns: 45% 50%;
}

@media screen and (max-width: 1115px) {
  .main-section .second-block .second-block__content {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

@media screen and (max-width: 768px) {
  .main-section .second-block .second-block__content {
    grid-row-gap: 50px;
  }
}

@media screen and (max-width: 425px) {
  .main-section .second-block .second-block__content {
    grid-row-gap: 40px;
  }
}

.main-section .second-block .second-block__content .content__text {
  margin-top: 30px;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

@media screen and (max-width: 1115px) {
  .main-section .second-block .second-block__content .content__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 768px) {
  .main-section .second-block .second-block__content .content__text {
    margin-top: 0px;
  }
}

@media screen and (max-width: 560px) {
  .main-section .second-block .second-block__content .content__text {
    width: 100vw;
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 450px) {
  .main-section .second-block .second-block__content .content__text {
    margin-top: -30px;
  }
}

.main-section .second-block .second-block__content .content__text .title {
  font-size: 24px;
  color: #e2a459;
  text-transform: uppercase;
  font-weight: lighter;
  white-space: nowrap;
}

@media screen and (max-width: 560px) {
  .main-section .second-block .second-block__content .content__text .title {
    white-space: pre-wrap;
  }
}

.main-section .second-block .second-block__content .content__text .text {
  width: 100%;
  font-size: 16px;
  color: #586f69;
  line-height: 24px;
  margin-top: 15px;
}

.main-section .second-block .second-block__content .content__navigation {
  position: relative;
  width: 100%;
  margin-top: 35px;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}

@media screen and (max-width: 1115px) {
  .main-section .second-block .second-block__content .content__navigation {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media screen and (max-width: 768px) {
  .main-section .second-block .second-block__content .content__navigation {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 560px) {
  .main-section .second-block .second-block__content .content__navigation {
    width: 100vw;
  }
}

@media screen and (max-width: 450px) {
  .main-section .second-block .second-block__content .content__navigation {
    display: none;
  }
}

.main-section .second-block .second-block__content .content__navigation .navigation__list {
  display: grid;
  -ms-grid-columns: (6fr)[2];
      grid-template-columns: repeat(2, 6fr);
  grid-column-gap: 10px;
  display: -ms-grid;
  -ms-grid-columns: 6fr 6fr;
}

@supports (-ms-ime-align: auto) {
  .main-section .second-block .second-block__content .content__navigation .navigation__list {
    margin-left: 50px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-section .second-block .second-block__content .content__navigation .navigation__list {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1115px) {
  .main-section .second-block .second-block__content .content__navigation .navigation__list {
    -ms-grid-columns: (3fr)[4];
        grid-template-columns: repeat(4, 3fr);
  }
}

@media screen and (max-width: 700px) {
  .main-section .second-block .second-block__content .content__navigation .navigation__list {
    -ms-grid-columns: (6fr)[2];
        grid-template-columns: repeat(2, 6fr);
    grid-row-gap: 25px;
  }
}

@media screen and (max-width: 560px) {
  .main-section .second-block .second-block__content .content__navigation .navigation__list {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item {
  list-style-type: none;
  border-left: 4px solid #edb056;
  height: 40px;
  color: #586f69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 30px;
  }
  .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    margin-left: 30px;
  }
}

@supports (-ms-ime-align: auto) {
  .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 30px;
  }
  .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    margin-left: 30px;
  }
}

.main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(1), .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(2) {
  margin-top: -95px;
  color: white;
}

@media screen and (max-width: 1115px) {
  .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(1), .main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item:nth-child(2) {
    margin-top: 0;
    color: #586f69;
  }
}

.main-section .second-block .second-block__content .content__navigation .navigation__list .navigation__list-item .item {
  font-size: 16px;
  padding-left: 20px;
}

.main-section .third-block {
  max-width: 1200px;
  margin: auto;
  margin-top: 25px;
}

.main-section .third-block .third-block__content {
  width: 100%;
  display: grid;
  -ms-grid-columns: (3fr)[4];
      grid-template-columns: repeat(4, 3fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: -ms-grid;
  -ms-grid-columns: 300px 300px 300px 300px;
}

@media screen and (max-width: 1200px) {
  .main-section .third-block .third-block__content {
    -ms-grid-columns: (4fr)[3];
        grid-template-columns: repeat(3, 4fr);
  }
}

@media screen and (max-width: 500px) {
  .main-section .third-block .third-block__content {
    -ms-grid-columns: (12fr)[2];
        grid-template-columns: repeat(2, 12fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

.main-section .third-block .third-block__content .content__item {
  position: relative;
  background-color: #f7f7f7;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  height: 285px;
}

@supports (-ms-ime-align: auto) {
  .main-section .third-block .third-block__content .content__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(7) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(8) {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(10) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(11) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(12) {
    -ms-grid-column: 4;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-section .third-block .third-block__content .content__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-row: 1;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(7) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(8) {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(10) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(11) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
  .main-section .third-block .third-block__content .content__item:nth-child(12) {
    -ms-grid-column: 4;
    -ms-grid-row: 3;
    margin-left: 10px;
  }
}

@media screen and (max-width: 700px) {
  .main-section .third-block .third-block__content .content__item {
    height: 215px;
  }
}

@media screen and (max-width: 500px) {
  .main-section .third-block .third-block__content .content__item {
    height: 190px;
  }
}

.main-section .third-block .third-block__content .content__item .href {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}

.main-section .third-block .third-block__content .content__item .content__item__img {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 425px) {
  .main-section .third-block .third-block__content .content__item .content__item__img {
    height: 75%;
  }
}

.main-section .third-block .third-block__content .content__item .content__item__text {
  position: absolute;
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #586f69;
  text-transform: uppercase;
  font-family: "PTSans";
  bottom: 0;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  .main-section .third-block .third-block__content .content__item .content__item__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .main-section .third-block .third-block__content .content__item .content__item__text {
    font-size: 15px;
    height: 25%;
  }
}

@media screen and (max-width: 365px) {
  .main-section .third-block .third-block__content .content__item .content__item__text {
    padding: 0 2px 0 2px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 360px) {
  .main-section .third-block .third-block__content .content__item .content__item__text {
    font-size: 15px;
  }
}

@media screen and (max-width: 360px) {
  .main-section .third-block .third-block__content .content__item .content__item__text {
    height: 25%;
  }
}

.main-section .third-block .third-block__content .content__item:hover .content__item__img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main-section .third-block .third-block__content .content__item:nth-child(21):hover {
  background-color: #f7f7f7;
}

.main-section .third-block .third-block__content .content__item:hover {
  background-color: #edb056;
}

.main-section .third-block .third-block__content .content__item:hover .content__item__text {
  color: white;
}

.main-section .fourth-block {
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  font-family: "PTSans";
  overflow: hidden;
  position: relative;
}

.main-section .fourth-block .fourth-block_container {
  display: grid;
  -ms-grid-columns: 285px 590px 285px;
      grid-template-columns: 285px 590px 285px;
  grid-column-gap: 20px;
  display: -ms-grid;
  -ms-grid-columns: 300px 600px 300px;
}

@media screen and (max-width: 1200px) {
  .main-section .fourth-block .fourth-block_container {
    -ms-grid-columns: 3fr 6fr 3fr;
        grid-template-columns: 3fr 6fr 3fr;
  }
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item {
  height: 200px;
  position: relative;
  padding-top: 10px;
  border-top: 4px solid #edb056;
}

@media screen and (max-width: 768px) {
  .main-section .fourth-block .fourth-block_container .fourth-block_container_item {
    margin-top: 20px;
  }
}

@supports (-ms-ime-align: auto) {
  .main-section .fourth-block .fourth-block_container .fourth-block_container_item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .main-section .fourth-block .fourth-block_container .fourth-block_container_item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 10px;
  }
  .main-section .fourth-block .fourth-block_container .fourth-block_container_item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    margin-left: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-section .fourth-block .fourth-block_container .fourth-block_container_item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .main-section .fourth-block .fourth-block_container .fourth-block_container_item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    margin-left: 10px;
  }
  .main-section .fourth-block .fourth-block_container .fourth-block_container_item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    margin-left: 10px;
  }
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item:hover .item_img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: .3s;
  transition: .3s;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block {
  width: 100%;
  height: 196px;
  overflow: hidden;
  position: relative;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block:hover .opacity-block {
  opacity: 0.8;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block:hover .arrow {
  right: -20px;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block:hover .text {
  opacity: 1;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block .item_img {
  width: 100%;
  position: absolute;
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
  height: 196px;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block .img_icon {
  position: absolute;
  right: -1px;
  height: 60px;
  width: 60px;
  top: 0;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block .opacity-block {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.2;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block .arrow {
  position: absolute;
  right: 10px;
  bottom: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block .sale {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-size: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.main-section .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block .text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  color: #586f69;
  font-size: 18px;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
}

.main-section .fifth-block {
  max-width: 1200px;
  margin: auto;
  margin-top: -5px;
  min-height: 867px;
}

.main-section .fifth-block .fifth-block__container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  width: 100%;
  grid-column-gap: 25px;
  font-family: "PTSans";
  height: 100%;
  display: -ms-grid;
  -ms-grid-columns: 6fr 6fr;
}

@media screen and (max-width: 860px) {
  .main-section .fifth-block .fifth-block__container {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.main-section .fifth-block .fifth-block__container .container-left {
  width: 100%;
  -ms-grid-columns: (12fr)[1];
      grid-template-columns: repeat(1, 12fr);
  height: 100%;
  -ms-grid-columns: 12fr;
  -ms-grid-column: 1;
}

.main-section .fifth-block .fifth-block__container .container-left .container-left__item {
  position: relative;
  width: 100%;
  min-height: 272.5px;
  background-color: #f7f7f7;
  margin-top: 20px;
}

@supports (-ms-ime-align: auto) {
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
}

@media screen and (max-width: 550px) {
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item {
    height: 300px;
  }
}

@media screen and (max-width: 340px) {
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item {
    height: 350px;
  }
}

.main-section .fifth-block .fifth-block__container .container-left .container-left__item .item-icon {
  position: absolute;
  width: 33px;
  height: 30px;
  right: 26px;
  top: 19px;
}

@media screen and (max-width: 1060px) {
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item .item-icon {
    top: 10px;
    right: 10px;
  }
}

.main-section .fifth-block .fifth-block__container .container-left .container-left__item .item__content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px 50px 0 50px;
}

@media screen and (max-width: 1060px) {
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item .item__content {
    padding: 30px 30px 30px 30px;
  }
}

.main-section .fifth-block .fifth-block__container .container-left .container-left__item .item__content .title {
  font-size: 24px;
  color: #e2a459;
  text-transform: uppercase;
}

.main-section .fifth-block .fifth-block__container .container-left .container-left__item .item__content .title:before {
  content: '';
  width: 13px;
  height: 35px;
  background-color: #edb056;
  position: absolute;
  left: 0;
  top: 27px;
}

@media screen and (max-width: 1060px) {
  .main-section .fifth-block .fifth-block__container .container-left .container-left__item .item__content .title:before {
    top: 27px;
  }
}

.main-section .fifth-block .fifth-block__container .container-left .container-left__item .item__content .text {
  font-size: 16px;
  color: #586f69;
  margin-top: 15px;
  text-align: justify;
}

.main-section .fifth-block .fifth-block__container .container-left .container-left__item .item__content .text .margin {
  font-size: 16px;
  color: #586f69;
  padding-top: 15px;
  text-align: justify;
}

.main-section .fifth-block .fifth-block__container .container-right {
  height: 100%;
  width: 100%;
  -ms-grid-column: 2;
}

@supports (-ms-ime-align: auto) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content {
    margin-left: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content {
    margin-left: 10px;
  }
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__text {
  width: 100%;
  padding: 30px 45px 0 45px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__text {
    padding: 30px 10px 0px 10px;
  }
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__text .title {
  font-size: 24px;
  color: #586f69;
  text-transform: uppercase;
  font-weight: lighter;
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__text .text {
  font-size: 16px;
  color: #586f69;
  margin-top: 20px;
}

@media screen and (max-width: 550px) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__text .text {
    text-align: justify;
  }
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__text .text .href-word {
  text-decoration: none;
  color: #edb056;
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__text .text .href-word:hover {
  text-decoration: underline;
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects {
  display: grid;
  width: 100%;
  -ms-grid-columns: (6fr)[2];
      grid-template-columns: repeat(2, 6fr);
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  margin-top: 40px;
  display: -ms-grid;
  -ms-grid-columns: 6fr 6fr;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects {
    overflow-x: hidden;
  }
}

@supports (-ms-ime-align: auto) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 860px) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects {
    -ms-grid-columns: (4fr)[3];
        grid-template-columns: repeat(3, 4fr);
  }
}

@media screen and (max-width: 550px) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects {
    -ms-grid-columns: (6fr)[2];
        grid-template-columns: repeat(2, 6fr);
  }
}

@media screen and (max-width: 550px) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item {
  position: relative;
  width: 100%;
  height: 160px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

@supports (-ms-ime-align: auto) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: block;
    margin-bottom: 18px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    display: block;
    margin-bottom: 18px;
    margin-left: 10px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    display: block;
    margin-bottom: 18px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    display: block;
    margin-bottom: 18px;
    margin-left: 10px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    display: block;
    margin-bottom: 18px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    display: block;
    margin-bottom: 18px;
    margin-left: 10px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    display: block;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
    display: block;
    margin-left: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    display: block;
    margin-bottom: 18px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    display: block;
    margin-bottom: 18px;
    margin-left: 10px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    display: block;
    margin-bottom: 18px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    display: block;
    margin-bottom: 18px;
    margin-left: 10px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    display: block;
    margin-bottom: 18px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    display: block;
    margin-bottom: 18px;
    margin-left: 10px;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    display: block;
  }
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
    display: block;
    margin-left: 10px;
  }
}

@media screen and (max-width: 425px) {
  .main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item {
    height: 140px;
  }
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:hover .item-img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item:hover .item-text {
  top: -50px;
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item .item-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-section .fifth-block .fifth-block__container .container-right .container-right__content .content__objects .object-item .item-text {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(88, 111, 105, 0.5);
  font-family: "PTSerif";
  font-style: italic;
  color: white;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: center;
}

.main-section .sixth-block {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.main-section .sixth-block .title {
  text-align: center;
  font-size: 24px;
  color: #586f69;
  text-transform: uppercase;
  font-family: "PTSans";
  font-weight: lighter;
}

.main-section .sixth-block .sixth-block__partners {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .main-section .sixth-block .sixth-block__partners {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (6fr)[2];
        grid-template-columns: repeat(2, 6fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}

.main-section .sixth-block .sixth-block__partners .partners-img {
  margin-right: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 650px) {
  .fourth-block .fourth-block_container {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 22px;
  }
  .fourth-block .fourth-block_container .fourth-block_container_item:nth-child(2) {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
  }
  .fourth-block .fourth-block_container .fourth-block_container_item:nth-child(1) {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 100%;
  }
  .fourth-block .fourth-block_container .fourth-block_container_item:nth-child(3) {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 100%;
  }
  .fourth-block .fourth-block_container .fourth-block_container_item .text-block {
    text-align: center;
  }
  .fourth-block .fourth-block_container .fourth-block_container_item .item_img_block .sale {
    font-size: 28px;
  }
}

#ya-site-form1 .ya-site-form__form .ya-site-form__input-text {
  height: 53px !important;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'PT Sans';
  width: 100.5vw;
}

#ya-site-form1 .ya-site-form__form {
  margin-left: -0.5%;
}

.ya-site-form__search-input-layout-l {
  width: 100vw;
}

.footer {
  height: 100% !important;
}

@media screen and (max-width: 369px) {
  .footer {
    margin-top: 30px !important;
  }
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #edb056;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}
/*# sourceMappingURL=katalog.css.map */