*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

// переменные 

$interfaceColor: #edb056;
$SansPT: 'PT Sans';
$lowerTextColor: #586f69;

// 

// функции

@mixin center {
    width: 1200px;
    margin: auto;
}

.section-main{
    .first-block{
        position: relative;
        height: 549px;
        .main-bg{
            width: 100vw;
            height: 401px;
            position: absolute;
            top: 0;
            left: 0;
        }
        // отступ 40px
        .first-block_content{
            position: absolute;
            display: grid;
            grid-template-areas: 'title navigation'
                                 'info navigation';
            width: 1200px;
            grid-template-columns: 8fr 4fr;
            grid-column-gap: 66px;
            grid-row-gap: 32px;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
            font-family: $SansPT; 
            bottom: 0;
            .content_orange-title{
                grid-area: title;
                width: 424px;
                height: 75px;
                background-color: $interfaceColor;
                display: flex;
                align-items: center;
                color: white;
                font-size: 36px;
                line-height: 24px;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                // padding-left: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .content_navigation{
                position: absolute;
                // margin-top: 41px;
                grid-area: navigation;
                bottom: 0;
                a{
                    height: 40px;
                    border-left: 4px solid $interfaceColor;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    transition: .3s;
                    &:nth-child(2){
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                    &:nth-child(1) li{
                        color: #586f69;
                    }
                    li{
                        list-style-type: none;
                        color: $lowerTextColor;
                        padding-left: 21px;
                        padding-right: 10px;
                        font-size: 16px;
                        letter-spacing: 0.16px;
                        transition: .3s;
                    }
                    &:hover{
                        background-color: $interfaceColor;
                    }
                    &:hover li{
                        color: white;
                    }
                }

            }
            .content_info{
                grid-area: info;
                padding-left: 0px;
                .title{
                    color: #e2a459;
                    font-size: 24px;
                    letter-spacing: 0.6px;
                    line-height: 24px;
                    text-transform: uppercase;
                }
                .text{
                    padding-top: 20px;
                    color: $lowerTextColor;
                    font-family: $SansPT;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: justify;
                }
            }
        }
    }
    .search-block{
        @include center();
        margin-top: 42px;
        margin-bottom: 26px;
        font-family: $SansPT;
        .ya-site-form{
            height: 53px;
        }
        // .search-block_container{
        //     background-color: #e8e8e8;
        //     height: 53px;
        //     display: flex;
        //     align-items: center;
        //     padding: 0 30px 0 40px;
        //     justify-content: space-between;
        //     .container_text{
        //         font-size: 18px;
        //         text-transform: uppercase;
        //         letter-spacing: 0.26px;
        //         color: white;
        //     }
        //     .search-icon{
        //         transform: rotateY(180deg);
        //     }
        // }
    }
    .second-block{
        @include center();
        font-family: $SansPT;
        .second-block_container{
            display: grid;
            grid-template-columns: repeat(3, 4fr);
            grid-template-rows: 939px 660px 575px;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            .container_item{
                background-color: #f7f7f7;
                .container_item_header{
                    padding: 33px 10px 32px 45px;
                    color: $interfaceColor;
                    text-transform: uppercase;
                    font-size: 24px;
                }
                .container_item_vid{
                    padding: 0px 10px 27px 45px;
                    color: $interfaceColor;
                    text-transform: uppercase;
                    font-size: 18px;
                }
                .list{
                    .container_item_list{
                        border-left: 10px solid #e2a459;
                        height: 10px;
                        display: flex;
                        margin-bottom: 24px;
                        margin-left: 44px;
                        a{
                            list-style-type: none;
                            margin-top: -6px;
                            padding-left: 23px;
                            font-size: 18px;
                            color: $lowerTextColor;
                            cursor: pointer;
                            text-decoration: none;
                            &:hover{
                                color: $interfaceColor;
                            }
                        }
                        .inside-list{
                            border-left: 1px solid #e2a459;
                            height: 125.3px;
                            margin-left: -100px;
                            margin-top: 30px;
                            .container_item_list-inside{
                                border-left: 12px solid #e2a459;
                                height: 1px;
                                margin-bottom: 25px;
                                display: flex;
                                margin-top: 20px;
                                font-size: 16px;
                                a{
                                    font-size: 16px;
                                    margin-top: -11px;
                                    margin-left: -15px;
                                }
                            }
                        }
                        .inside-list-two{
                            border-left: 1px solid #e2a459;
                            height: 281px;
                            margin-left: -140px;
                            margin-top: 30px;
                            .container_item_list-inside{
                                border-left: 12px solid #e2a459;
                                height: 1px;
                                margin-bottom: 25px;
                                display: flex;
                                margin-top: 20px;
                                font-size: 16px;
                                a{
                                    font-size: 16px;
                                    margin-top: -11px;
                                    margin-left: -15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .third-block{
        @include center();
        margin-top: 30px;
        font-family: $SansPT;
        .third-block_container{
            position: relative;
            border-top: 4px solid #edb056;
            border-bottom: 4px solid #edb056;
            // width: 100%;
            height: 671px;
            .container_img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .container_opacity-block{
                position: absolute;
                background-color: rgba(88, 111, 105, 0.8);
                height: 100%;
                width: 50%;
                right: 0;
                top: 0;
                padding: 43px 54px 0px 52px;
                .opacity_title{
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.24px;
                    text-transform: uppercase;
                    color: white;
                }
                .opacity_text{
                    font-size: 16px;
                    color: white;
                    line-height: 24px;
                    p{
                        padding-top: 25px;
                    }
                }
            }
        }
    }
    .fourth-block{
        @include center();
        margin-top: 27px;
        font-family: $SansPT;
        .fourth-block_container{
            display: grid;
            grid-template-areas: 'left right'
                                 'lb right';
            grid-template-columns: 12fr 12fr;
            grid-column-gap: 30px;
            grid-row-gap: 15px;
            height: 1110px;
            .container_left{
                grid-area: left;
                display: grid;
                grid-template-columns: 12fr;
                .container_left_title{
                    color: #e2a459;
                    font-size: 24px;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 30px 0 -40px 0;
                }
                .container_left_list{
                    display: grid;
                    grid-template-columns: 12fr;
                    grid-template-rows: repeat(6,98px);
                    grid-row-gap: 4px;
                    .left_list_item{   
                        display: grid;
                        grid-template-columns: 2fr 10fr;
                        grid-column-gap: 4px;
                        .item_icon{
                            width: 100%;
                            height: 100%;
                            background-color: #edb056;
                            position: relative;
                            .item_icon-itself{
                                position: absolute;
                                left: 5px;
                            }
                        }
                        .item_text-container{
                            height: 100%;
                            width: 100%;
                            background-color: #f7f7f7;
                            display: flex;
                            align-items: center;
                            padding: 0px 30px 0px 37px;
                            color: $lowerTextColor;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.16px;
                        }
                    }
                }
            }
            .container-right{
                grid-area: right;
                width: 100%;
                height: 100%;
                position: relative;
                background-color: #f7f7f7;
                .container-right_img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 315px;
                }
                .container-right_info{
                    padding: 370px 0px 0 54px;
                    .title{
                        font-size: 24px;
                        color: #e2a459;
                        text-transform: uppercase;
                    }
                    .text{
                        text-align: justify;
                        position: absolute;
                        color: $lowerTextColor;
                        font-size: 16px;
                        line-height: 24px;
                        padding-right: 55px;
                        p{
                            margin-top: 25px;
                        }
                    }
                }
            }
            .container-info{
                margin-top: -50px;
                grid-area: lb;
                position: relative;
                .container-info_border{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $interfaceColor;
                    width: 13px;
                    height: 35px;
                }
                .title{
                    font-size: 24px;
                    color: #e2a459;
                    text-transform: uppercase;
                    margin-left: 40px;
                }
                .text{
                    position: absolute;
                    color: $lowerTextColor;
                    font-size: 16px;
                    line-height: 24px;
                    margin-left: 40px;
                    p{
                        margin-top: 25px;
                    }
                }
            }
        }
    }
    .fifth-block{
        @include center();
        margin-top: 11px;
        font-family: $SansPT;
        overflow: hidden;
        .fifth-block_container{
            display: grid;
            grid-template-columns: 3fr 6fr 3fr;
            grid-column-gap: 22px;
            .fifth-block_container_item{
                height: 300px;
                position: relative;
                padding-top: 10px;
                border-top: 4px solid #edb056;
                .item_img_block{
                    width: 100%;
                    height: 196px;
                    overflow: hidden;
                    position: absolute;
                    .item_img{
                        width: 100%;
                        position: absolute;
                        opacity: 0.8;
                        transition: .3s;
                        height: 196px;
                        &:hover{
                            transform: scale(1.03);
                            transition: .3s;
                        }
                    }
                    .img_icon{
                        position: absolute;
                        right: 0;
                    }
                    .sale{
                        position: absolute;
                        left: 28%;
                        top: 28%;
                        color: white;
                        text-transform: uppercase;
                        letter-spacing: 2.7px;
                        font-size: 36px;
                    }
                }
                .text-block{
                    position: absolute;
                    bottom: 10px;
                    background-color: #f7f7f7;
                    width: 100%;
                    height: 73px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    transition: .3s;
                    .text{
                        color: $lowerTextColor;
                        font-size: 18px;
                        letter-spacing: 0.45px;
                        text-transform: uppercase;
                    }
                    .arrow{
                        margin-left: 10px;
                    }
                    &:hover .text{
                        color: #edb056;
                        transition: .3s;
                    }
                }
            }
        }
    }
}
#ya-site-form1 .ya-site-form__form .ya-site-form__input-text{
    height: 53px !important;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'PT Sans';
    width: 100.5%;
}
#ya-site-form1 .ya-site-form__form{
    margin-left: -0.5%;
}







@media screen and (max-width: 860px){
    .footer-content{
        grid-template-columns: 100%;
        padding: 10px 10px 10px 10px;
    }
    .social{
        justify-content: space-around;
    }
    .footer-content{
        grid-template-columns: 100%;
        padding: 10px 10px 10px 10px;
    }
    .social{
        justify-content: space-around;
    }
}




@media screen and (max-width: 425px){
    .footer{
        overflow-x: hidden;
    }
}







.footer{
    width: 100%;
    background-color: #353535;
    min-height: 104px;
    z-index: 999999;
}
.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr 6fr 2fr;
    min-height: 104px;
    align-items: center;
    padding-left: 20px;
}
.social{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.vk-icon{
    background-image: url(../icons/socials/vk.svg);
    background-repeat: no-repeat;
    transition: .3s;
    height: 32px;
    width: 36px;
}
.vk-icon:hover{
    background-image: url(../icons/socials/vk-hover.svg);
    background-repeat: no-repeat;
    transition: .3s;
}
.facebook-icon{
    background-image: url(../icons/socials/f.svg);
    background-repeat: no-repeat;
    transition: .3s;
    height: 32px;
    width: 36px;
}
.facebook-icon:hover{
    background-image: url(../icons/socials/f-hover.svg);
    background-repeat: no-repeat;
    transition: .3s;
}
.inst-icon{
    background-image: url(../icons/socials/insta.svg);
    background-repeat: no-repeat;
    transition: .3s;
    height: 32px;
    width: 36px;
}
.inst-icon:hover{
    background-image: url(../icons/socials/insta-hover.svg);
    background-repeat: no-repeat;
    transition: .3s;
}
.houze-icon{
    background-image: url(../icons/socials/houzz.svg);
    background-repeat: no-repeat;
    transition: .3s;
    height: 32px;
    width: 36px;
}
.houze-icon:hover{
    background-image: url(../icons/socials/houzz-hover.svg);
    background-repeat: no-repeat;
    transition: .3s;
}
.yout-icon{
    background-image: url(../icons/socials/youtube.svg);
    background-repeat: no-repeat;
    transition: .3s;
    height: 32px;
    width: 36px;
}
.atlas{
    background-image: url(../icons/socials/atlas.png);
    background-repeat: no-repeat;
    transition: .3s;
    height: 32px;
    width: 36px;
    background-size: 100% 100%;
}
.yout-icon:hover{
    background-image: url(../icons/socials/youtube-hover.svg);
    background-repeat: no-repeat;
    transition: .3s;
}
.phone-number{
    text-align: center;
    color: #fefeff;
    font-size: 16px;
    line-height: 23px;
    margin: 10px 0 10px 0;
}
.footer-text{
    text-align: center;
    color: #d2d2d2;
    line-height: 18px;
    font-weight: 400;
}
.footer-text p{
    font-family: 'PT Sans', serif;
    font-size: 18px;
}
.footer-text span{
    font-family: none;
    font-style: italic;
    font-size: 16px;
}


.navigation a:hover{
    color: #cc9d58;
    transition: .3s;
}
.navigation a:nth-child(2):hover .open-arrow{
    border-top: 5px solid #cc9d58;;
    transition: .3s;
}

@media screen and (max-width: 1200px){
    .section-main{
        .first-block{
            height: 540px;
            width: 100%;
            .main-bg{
                width: 100vw;
                height: 304px;
            }
            .first-block_content{
                grid-template-columns: 8fr 4fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                bottom: 50px;
                width: 100%;
                bottom: 90px;
            }
        }
    }
}

@media screen and (max-width: 1088px){
    .section-main{
        .first-block{
            .first-block_content{
                bottom: 90px;
            }
        }
    }
}

@media screen and (max-width: 1068px){
    .section-main{
        .first-block{
            .first-block_content{
                bottom: 80px;
            }
        }
    }
}



// @media screen and (max-width: 425px){
//     .section-main{
//         .second-block{
//             @include center();
//             width: 100vw;
//             font-family: $SansPT;
//             .second-block_container{
//                 display: grid;
//                 grid-template-columns: repeat(1, 12fr);
//                 grid-template-rows: none;
//                 // grid-column-gap: 30px;
//                 grid-row-gap: 10px;
//                 .container_item{
//                     background-color: #f7f7f7;
//                     overflow: hidden;
//                     height: 250px;
//                     img{
//                         width: 100%;
//                         height: 250px;
//                     }
//                     .container_item_header{
//                         padding: 33px 10px 32px 45px;
//                         color: $interfaceColor;
//                         text-transform: uppercase;
//                         font-size: 24px;
//                     }
//                     .container_item_vid{
//                         padding: 0px 10px 27px 45px;
//                         color: $interfaceColor;
//                         text-transform: uppercase;
//                         font-size: 18px;
//                     }
//                     .list{
//                         height: 0;
//                         .container_item_list{
//                             border-left: 10px solid #e2a459;
//                             height: 10px;
//                             display: flex;
//                             margin-bottom: 24px;
//                             margin-left: 44px;
//                             a{
//                                 list-style-type: none;
//                                 margin-top: -6px;
//                                 padding-left: 23px;
//                                 font-size: 18px;
//                                 color: $lowerTextColor;
//                                 cursor: pointer;
//                                 text-decoration: none;
//                                 &:hover{
//                                     color: $interfaceColor;
//                                 }
//                             }
//                             .inside-list{
//                                 border-left: 1px solid #e2a459;
//                                 height: 125.3px;
//                                 margin-left: -100px;
//                                 margin-top: 30px;
//                                 .container_item_list-inside{
//                                     border-left: 12px solid #e2a459;
//                                     height: 1px;
//                                     margin-bottom: 25px;
//                                     display: flex;
//                                     margin-top: 20px;
//                                     font-size: 16px;
//                                     a{
//                                         font-size: 16px;
//                                         margin-top: -11px;
//                                         margin-left: -15px;
//                                     }
//                                 }
//                             }
//                             .inside-list-two{
//                                 border-left: 1px solid #e2a459;
//                                 height: 281px;
//                                 margin-left: -140px;
//                                 margin-top: 30px;
//                                 .container_item_list-inside{
//                                     border-left: 12px solid #e2a459;
//                                     height: 1px;
//                                     margin-bottom: 25px;
//                                     display: flex;
//                                     margin-top: 20px;
//                                     font-size: 16px;
//                                     a{
//                                         font-size: 16px;
//                                         margin-top: -11px;
//                                         margin-left: -15px;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }