*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

// переменные 

$interfaceColor: #edb056;
$SansPT: 'PTSans';
$lowerTextColor: #586f69;

// 

// функции

@mixin center {
    max-width: 1200px;
    margin: auto;
}

.section-main .search-block #ya-site-form1{
    overflow: hidden;
}

.section-main{
    .first-block{
        width: 100vw;
        .first-block-top{
            position: relative;
            height: 400px;
            .main-bg{
                width: 100vw;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .center-element{
                @include center();
                .content_orange-title{
                    // width: 9%;
                    height: 75px;
                    background-color: $interfaceColor;
                    align-items: center;
                    color: white;
                    font-size: 36px;
                    line-height: 24px;
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                    // padding-left: 48px;
                    display: flex;
                    justify-content: center;
                    padding-left: 40px;
                    padding-right: 40px;
                    position: absolute;
                    bottom: 0;
                    font-family: 'PTSans';
                }
            }
        }
        // отступ 40px
        .first-block_content{
            position: relative;
            display: grid;
            grid-template-areas: 'info navigation';
            max-width: 1200px;
            grid-template-columns: 8fr 4fr;
            grid-column-gap: 66px;
            grid-row-gap: 32px;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto;
            font-family: $SansPT; 
            bottom: 0;
            margin-top: 35px;
            @media screen and (max-width: 1024px){
                padding: 0 5px 0 5px;
            }
            .content_navigation{
                position: absolute;
                // margin-top: 41px;
                grid-area: navigation;
                bottom: 0;
                right: 10px;
                li{
                    height: 40px;
                    border-left: 4px solid $interfaceColor;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    transition: .3s;
                    &:nth-child(2){
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                    &:nth-child(1) a{
                        color: #586f69;
                    }
                    a{
                        list-style-type: none;
                        color: $lowerTextColor;
                        padding-left: 21px;
                        padding-right: 10px;
                        font-size: 16px;
                        letter-spacing: 0.16px;
                        transition: .3s;
                        text-decoration: none;
                    }
                    &:hover{
                        background-color: $interfaceColor;
                    }
                    &:hover a{
                        color: white;
                    }
                }

            }
            .content_info{
                grid-area: info;
                padding-left: 0px;
                .title{
                    color: #e2a459;
                    font-size: 24px;
                    letter-spacing: 0.6px;
                    line-height: 24px;
                    text-transform: uppercase;
                }
                .text{
                    padding-top: 20px;
                    color: $lowerTextColor;
                    font-family: $SansPT;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: justify;
                    display: flex;
                }
            }
        }
    }
    .search-block{
        @include center();
        margin-top: 42px;
        margin-bottom: 26px;
        font-family: $SansPT;
        max-width: 1200px;
        #ya-site-form1{
            height: 53px;
            max-width: 1200px!important;
        }
    }
    .second-block{
        @include center();
        font-family: $SansPT;
        position: relative;
        .second-block_container{
            display: grid;
            // grid-template-columns: repeat(3, 4fr);
            grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
            grid-template-rows: minmax(939px, auto) minmax(660px, auto) minmax(575px, auto);
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            overflow-x: hidden;
            .container_item{
                background-color: #f7f7f7;
                overflow-x: hidden;
                @media screen and (max-width: 800px){
                    padding-bottom: 20px;
                }
                .container_item_img{
                    position: relative;
                    width: 100%;
                }
                .container_item_header{
                    padding: 33px 10px 32px 45px;
                    color: $interfaceColor;
                    text-transform: uppercase;
                    font-size: 24px;
                }
                .container_item_header-once{
                    padding: 33px 10px 32px 45px;
                    color: $interfaceColor;
                    text-transform: uppercase;
                    font-size: 24px;
                }
                   
                .container_item_vid{
                    padding: 0px 10px 27px 45px;
                    color: $interfaceColor;
                    text-transform: uppercase;
                    font-size: 18px;
                }
                .list{
                    .container_item_list{
                        border-left: 10px solid #e2a459;
                        height: 10px;
                        display: flex;
                        margin-bottom: 24px;
                        margin-left: 44px;
                        a{
                            list-style-type: none;
                            margin-top: -6px;
                            padding-left: 23px;
                            font-size: 18px;
                            color: $lowerTextColor;
                            cursor: pointer;
                            text-decoration: none;
                            &:hover{
                                color: $interfaceColor;
                            }
                        }
                        .inside-list{
                            border-left: 1px solid #e2a459;
                            height: 125.3px;
                            margin-left: -100px;
                            margin-top: 30px;
                            .container_item_list-inside{
                                border-left: 12px solid #e2a459;
                                height: 1px;
                                margin-bottom: 25px;
                                display: flex;
                                margin-top: 20px;
                                font-size: 16px;
                                a{
                                    font-size: 16px;
                                    margin-top: -11px;
                                    margin-left: -15px;
                                }
                            }
                        }
                        .inside-list-two{
                            border-left: 1px solid #e2a459;
                            height: 281px;
                            margin-left: -140px;
                            margin-top: 30px;
                            .container_item_list-inside{
                                border-left: 12px solid #e2a459;
                                height: 1px;
                                margin-bottom: 25px;
                                display: flex;
                                margin-top: 20px;
                                font-size: 16px;
                                a{
                                    font-size: 16px;
                                    margin-top: -11px;
                                    margin-left: -15px;
                                }
                            }
                        }
                    }
                }
                .arrow-open-container{
                    display: none;
                }
            }
        }
    }
    .third-block{
        @include center();
        margin-top: 30px;
        font-family: $SansPT;
        position: relative;
        .third-block_container{
            position: relative;
            border-top: 4px solid #edb056;
            border-bottom: 4px solid #edb056;
            // width: 100%;
            height: 671px;
            .container_img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .container_opacity-block{
                position: absolute;
                background-color: rgba(88, 111, 105, 0.8);
                height: 100%;
                width: 50%;
                right: 0;
                top: 0;
                padding: 43px 54px 0px 52px;
                .opacity_title{
                    font-size: 24px;
                    line-height: 24px;
                    letter-spacing: 0.24px;
                    text-transform: uppercase;
                    color: white;
                }
                .opacity_text{
                    font-size: 16px;
                    color: white;
                    line-height: 24px;
                    p{
                        padding-top: 25px;
                    }
                }
            }
        }
    }
    .fourth-block{
        @include center();
        margin-top: 27px;
        font-family: $SansPT;
        position: relative;
        height: auto;
        .fourth-block_container{
            display: grid;
            grid-template-columns: 6fr 6fr;
            width: 100%;
            height: auto;
            grid-column-gap: 30px;
            .fourth-block_container-left{
                display: grid;
                grid-template-columns: 12fr;
                grid-row-gap: 30px;
                .container-left_list{
                    display: grid;
                    grid-template-columns: 12fr;
                    grid-row-gap: 5px;
                    .list-header{
                        font-family: 'PTSans';
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: 400;
                        letter-spacing: 0.01em;
                        color: #e2a459;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-self: center;
                        margin: 50px 0 5px 0;
                        text-transform: uppercase;
                        @media screen and (max-width: 1024px){
                            padding: 0 5px 0 5px;
                        }
                    }
                    .container-left_list-item{
                        font-family: 'PTSans';
                        display: grid;
                        grid-template-columns: 2fr 10fr;
                        grid-column-gap: 3px;
                        grid-row-gap: 5px;
                        grid-template-rows: minmax(40px, 98px);
                        .icon-block{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            background-color: #edb056;
                            .icon-img{
                                position: absolute;
                                display: flex;
                                width: 100%;
                                height: 100%;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        .text-block{
                            background-color: #f7f7f7;
                            width: 100%;
                            height: 100%;
                            position: relative;
                            .text{
                                padding: 0 30px 0 30px;
                                word-wrap: break-word;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                                letter-spacing: 0.01em;
                                color: #586f69;
                            }
                        }
                    }
                    .list-item{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .border-item{
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: #edb056;
                            height: 35px;
                            width: 13px;
                        }
                        .header-item{
                            font-size: 24px;
                            font-weight: 400;
                            letter-spacing: 0.01em;
                            color: #e2a459;
                            text-transform: uppercase;
                            padding: 0 50px 0 50px;
                        }
                        .text-item{
                            p{
                                color: #586f69;
                                font-size: 16px;
                                padding: 0 50px 0 50px;
                                margin-top: 30px;
                            }
                        }
                    }
                }
            }
            .fourth-block_container-right{
                width: 100%;
                display: grid;
                grid-template-columns: 12fr;
                font-family: 'PTSans';
                .container-block{
                    position: relative;
                    background-color: #f7f7f7;
                    height: 100%;
                    width: 100%;
                    .container-block_img{
                        width: 100%;
                        position: relative;
                        top: 0;
                        left: 0;
                    }
                    .container-header{
                        padding: 40px 0 0 40px;
                        font-size: 24px;
                        font-weight: 400;
                        letter-spacing: 0.01em;
                        color: #e2a459;
                        text-transform: uppercase;
                    }
                    .container-text{
                        text-align: justify;
                        margin-top: 20px;
                        margin-bottom: 60px;
                        p{
                            margin-top: 5px;
                            padding: 0 40px 20px 40px;
                            color: #586f69;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .fifth-block{
        @include center();
        margin-top: 10px;
        font-family: $SansPT;
        overflow: hidden;
        position: relative;
        .fifth-block_container{
            display: grid;
            grid-template-columns: 3fr 6fr 3fr;
            grid-column-gap: 22px;
            .fifth-block_container_item{
                height: 300px;
                position: relative;
                padding-top: 10px;
                border-top: 4px solid #edb056;
                &:hover .item_img{
                    transform: scale(1.03);
                    transition: .3s;
                }
                .item_img_block{
                    width: 100%;
                    height: 196px;
                    overflow: hidden;
                    position: relative;
                    .item_img{
                        width: 100%;
                        position: absolute;
                        opacity: 0.8;
                        transition: .3s;
                        height: 196px;
                    }
                    .img_icon{
                        position: absolute;
                        right: 0;
                    }
                    .sale{
                        position: absolute;
                        display: flex;
                        color: white;
                        text-transform: uppercase;
                        letter-spacing: 2.7px;
                        font-size: 36px;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                    }
                }
                .text-block{
                    position: absolute;
                    bottom: 10px;
                    background-color: #f7f7f7;
                    width: 100%;
                    height: 73px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    transition: .3s;
                    .text{
                        color: $lowerTextColor;
                        font-size: 18px;
                        letter-spacing: 0.45px;
                        text-transform: uppercase;
                    }
                    .arrow{
                        margin-left: 10px;
                    }
                    &:hover .text{
                        color: #edb056;
                        transition: .3s;
                    }
                }
            }
        }
    }
}
#ya-site-form1 .ya-site-form__form .ya-site-form__input-text{
    height: 53px !important;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'PT Sans';
    width: 100.5vw;
}
#ya-site-form1 .ya-site-form__form{
    margin-left: -0.5%;
}

.ya-site-form__search-input-layout-l {
    width: 100vw;
}

@media screen and (max-width: 1200px){
    .ya-site-form__form{
        width: 100vw;
    }    
}

@media screen and (max-width: 800px){
    .section-main{
        .third-block{
            .third-block_container{
                height: 100vh;
                // .container_img{
                //     width: 100%;
                //     height: 100%;
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                // }
                .container_opacity-block{
                    width: 100%;
                    overflow: auto;
                    padding: 43px 20px 20px 20px;

                }
            }
        }
        .fifth-block{
            .fifth-block_container{
                display: grid;
                // grid-template-columns: repeat(1,12fr) repeat(2, 6fr);
                grid-column-gap: 22px;
                .fifth-block_container_item{
                    &:nth-child(2){
                        display: grid;
                        grid-column: 1/6;
                        grid-row: 1/2;
                    }
                    &:nth-child(1){
                        display: grid;
                        grid-column: 1/3;
                        grid-row: 2/3;
                        width: 75%;
                    }
                    &:nth-child(3){
                        display: grid;
                        grid-column: 2/6;
                        grid-row: 2/3;
                        width: 63%;
                        justify-self: flex-end;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    .section-main{
        .first-block{
            .first-block-top{
                height: 200px;
                .center-element{
                    .content_orange-title{
                        font-size: 32px;
                    }
                }
            }
            .first-block_content{
                position: relative;
                display: grid;
                grid-template-areas: 'navigation'
                                     'info';
                width: 100vw;
                grid-template-columns: 12fr;
                .content_navigation{
                    position: absolute;
                    // margin-top: 41px;
                    grid-area: navigation;
                    bottom: -10px;
                    width: 100%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    
                    a{
                        display: inline-flex;
                        // flex-direction: column;
                        align-items: center;
                        text-decoration: none;

                    }
    
                }
                .content_info{
                    grid-area: info;
                    padding: 0px 10px 0 10px;
                    .title{
                        font-size: 20px;
                    }
                    .text{
                        font-size: 14px;
                    }
                }
            }
        }
        .fourth-block{
            .fourth-block_container{
                grid-template-columns: 12fr;
                grid-column-gap: 30px;
                .fourth-block_container-left{
                    grid-row-gap: 30px;
                    margin-bottom: 30px;
                    .container-left_list{
                        .list-header{
                            font-size: 20px;
                            margin: 20px 0px 10px 0px;
                            padding: 0 10px 0 10px;
                            text-align: center;
                        }
                        .container-left_list-item{
                            grid-template-columns: 3fr 9fr;
                            // grid-column-gap: 3px;
                            // grid-row-gap: 5px;
                            // grid-template-rows: minmax(40px, 98px);
                            .icon-block{
                                .icon-img{
                                    // position: absolute;
                                    // display: flex;
                                    // width: 100%;
                                    // height: 100%;
                                    // justify-content: center;
                                    // align-items: center;
                                }
                            }
                            .text-block{
                                .text{
                                    padding: 0 10px 0 10px;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }
                        }
                        .list-item{
                            .border-item{
                                // height: 35px;
                                // width: 13px;
                            }
                            .header-item{
                                font-size: 20px;
                                padding-left: 40px;
                                padding-right: 20px;
                            }
                            .text-item{
                                text-align: justify;
                                padding-left: 20px;
                                padding-right: 20px;
                                p{
                                    font-size: 14px;
                                    margin-top: 20px;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                }
                            }
                        }
                    }
                }
                .fourth-block_container-right{
                    .container-block{
                        .container-header{
                            padding: 20px 0 0 20px;
                            font-size: 20px;
                            font-weight: 400;
                            letter-spacing: 0.01em;
                            color: #e2a459;
                            text-transform: uppercase;
                        }
                        .container-text{
                            margin-top: 20px;
                            p{
                                margin-top: 5px;
                                padding: 0 20px 20px 20px;
                                color: #586f69;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .fifth-block{
            .fifth-block_container{
                display: grid;
                // grid-template-columns: repeat(1,12fr) repeat(2, 6fr);
                grid-column-gap: 22px;
                .fifth-block_container_item{
                    &:nth-child(2){
                        display: grid;
                        grid-column: 1/6;
                        grid-row: 1/2;
                        width: 100%;
                    }
                    &:nth-child(1){
                        display: grid;
                        grid-column: 1/6;
                        grid-row: 2/3;
                        width: 100%;
                    }
                    &:nth-child(3){
                        display: grid;
                        grid-column: 1/6;
                        grid-row: 3/4;
                        width: 100%;
                    }
                    .text-block{
                        text-align: center;
                    }
                    .item_img_block{
                        .sale{
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .section-main{
        .first-block{
            .first-block-top{
                .center-element{
                    .content_orange-title{
                        font-size: 28px;
                        width: 100%;
                        padding-left: 10px;
                    }
                }
            }
            .first-block_content{
                position: relative;
                display: grid;
                grid-template-areas: 'navigation'
                                     'info';
                width: 100vw;
                grid-template-columns: 12fr;
                .content_navigation{
                    position: absolute;
                    // margin-top: 41px;
                    grid-area: navigation;
                    bottom: -15px;
                    width: 100vw;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    left: -9px;
                    li{
                        display: inline-flex;
                        // flex-direction: column;
                        align-items: center;
                        width: 30%;
                        margin-left: 9px;
                        &:nth-child(3){
                            width: 40%;
                        }
                        a{
                            font-size: 14px;
                            width: 100%;
                            padding: 0 0 0 7px;
                            text-decoration: none;
                        }
                        &:nth-child(2){
                            margin-left: -8px;
                        }
                        &:nth-child(3){
                            margin-left: -10px;
                        }
                    }
                }
                .content_info{
                    grid-area: info;
                    margin-top: 0px;
                    padding: 0px 10px 0 10px;
                }
            }
        }
        .second-block{
            .second-block_container{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
                grid-template-rows: none;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
                overflow-x: hidden;
                .container_item{
                    background-color: #f7f7f7;
                    overflow: hidden;
                    position: relative;
                    height: 320px;
                    transition: .3s;
                    .container_item_img{
                        position: relative;
                        width: 100%;
                        height: 250px;
                    }
                    .container_item_header{
                        position: relative;
                        padding: 0;
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        color: $interfaceColor;
                        text-transform: uppercase;
                        font-size: 18px;
                        margin-bottom: 50px;
                        text-align: center;
                        margin-top: 8px;
                        padding: 0 50px 0 50px;
                    }
                    .container_item_header-once{
                        position: relative;
                        padding: 0;
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        color: $interfaceColor;
                        text-transform: uppercase;
                        font-size: 18px;
                        margin-bottom: 50px;
                        text-align: center;
                        margin-top: 20px;
                        padding: 0 20px 0 20px;
                    }
                    // .container_item_vid{
                    //     padding: 0px 10px 30px 20px;
                    //     color: $interfaceColor;
                    //     text-transform: uppercase;
                    //     font-size: 16px;
                    // }
                    .arrow-open-container{
                        display: block;
                        position: absolute;
                        bottom:20px;
                        margin-bottom: 5px;
                        height: 16px;
                        width: 50px;
                        right: 0%;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 370px){
    .fifth-block{
        margin-bottom: 150px !important;
    }
}

.container_item_act{
    height: 100% !important;
}
.arrow-open-container_act{
    transform: rotate(180deg) !important;
}

// scrollbar

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}
    
::-webkit-scrollbar-track {
    background-color:#ecedee
}
    
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0;
    background-color: #edb056;
}
    
::-webkit-scrollbar-thumb:hover{
    background-color: #edb056;
}
    
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}
    
::-webkit-scrollbar{
    width: 8px;
}