main.container-fluid .aside-navigation {
    min-width: 100px;
    border-right: 3px solid #374436;
    background-color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    overflow: auto;
    padding-left: 40px;

}

.aside-img {
    display: block;
    position: absolute;
    left: 0;
}

main.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

aside h2 {
    font-size: 1.2rem;
    color: #374436;
}

aside h3 {
    font-size: 1.1rem;
    color: #a87f4a;
    padding-top: 1rem;
}

aside ul li {
    color: #a87f4a;
}

aside ul a {
    color: #374436;
}

aside ul a:hover {
    color: #9dc09a
}

aside ul {
    padding-left: 20px;
}

aside h3.first-h3 {
    padding-top: 80px;
}

aside ul li .active,
.bottom_nav .active {
    text-decoration: underline;
    color: #9dc09a;
}
.container-fluid .content .entry-items,
.container-fluid .content .breadcrambs {
    background: #f7f2ed;
    padding: 4%;
}

.breadcrambs {
    z-index: 77 !important;
    position: relative;
}

.container-fluid .content .entry-items {
    padding-right: 0;
    position: relative;
    -webkit-box-shadow: 0 8px 16px -3px rgba(0,0,0,0.17);
    box-shadow: 0 8px 16px -3px rgba(0,0,0,0.17); 
}

p {
    color: #374436;
}

.container-fluid .content .collection {
    background: white;
}

.container-fluid .content .breadcrambs {
    padding-bottom: 0;
}

ul.breadcrambs-items {
    padding: 0;
    margin: 0;
    padding-left: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

ul.breadcrambs-items li {
    margin-left: 30px;
    color: #a87f4a;
}

ul.breadcrambs-items li:first-child {
    margin-left: 0;
}

ul.breadcrambs-items li a {
    color: #374436;
    text-decoration: underline;
}

ul.breadcrambs-items li a:hover {
    color: #b78649;
}

.breadcrambs-items .active {
    color: #b78649;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    background-color: #ece4db;
}

section.content.col-9 {
    padding-left: 0;
    padding-right: 0;
}