/*Защита от копирования картинок отключением javascript*/
.no-js img {
    display: none;
}
/*
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/
/*End Защита от копирования картинок отключением javascript*/

/*Стилизация скроллинга на странице*/
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.5rem;
    cursor: pointer;
}

html::-webkit-scrollbar-track-piece  {
    background-color: #ccc5;
    cursor: pointer;
}

html::-webkit-scrollbar-thumb {
    height: 1.5625rem;
    background-color: #e2a459;
    border-radius: 0.375rem;
    cursor: pointer;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #edb056;
}
/*End Стилизация скроллинга на странице*/

/*Корректировка цвета прогресс бара*/
#nprogress .bar {
    background: #586f69;
}

#nprogress .peg {
    -webkit-box-shadow: 0 0 0.625rem #586f69, 0 0 0.3125rem #586f69;
    box-shadow: 0 0 0.625rem #586f69, 0 0 0.3125rem #586f69;
}

#nprogress .spinner-icon {
    border-top-color: #586f69;
    border-left-color: #586f69;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: "PTSans";
    overflow-x: hidden;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.full_opened {
    max-height: 9999px !important;
    max-width: 9999px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

/*Стандартная ссылка*/
.usual_link {
    color: #e2a459;
}

.usual_link:hover {
    color: #e2a459;
    text-decoration: underline;
}
/*End Стандартная ссылка*/

/*Корректировка внутристраничной навигации*/
.anchors {
    position: absolute;
    top: -9.375rem;
}
/*End Корректировка внутристраничной навигации*/

/*Подстветка навигации в шапке*/
.navbar-light-about_company .light-about_company,
.navbar-light-catalogue .light-catalogue,
.navbar-light-projects .light-projects,
.navbar-light-library .light-library,
.navbar-light-contacts .light-contacts {
    color: #e2cc9d!important;
}
/*End подстветка навигации в шапке*/

/*Header*/
body > header {
    background: #fff;
    z-index: 1000;
}

.nav-info {
    width: 100%;
    -webkit-box-shadow: 0.125rem 0.25rem 0.31rem 0rem rgba(0, 0, 0, 0.23);
    box-shadow: 0.125rem 0.25rem 0.3125rem 0rem rgba(0, 0, 0, 0.23);
}

.nav-info--top {
    height: 2.9375rem;
    margin-bottom: 0.3125rem;
    background: #353535;
}

.nav-info--bottom {
    background: #586f69;
}

.main-content {
    width: 100%;
    padding: 0;
}

.motto {
    font-family: "PTSerif";
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.05em;
    color: #e2d9c7;
    width: 100%;
    padding-left: 15rem;
}

.motto span {
    margin: auto 0;
}

.motto .email_gelster {
    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    margin-left: 1.25rem;
    margin-right: 1.875rem;
    white-space: nowrap;
}

.motto .fa-envelope {
    font-size: 1rem;
}

.sb-search {
    -webkit-transition: width 0.3s, min-width 0.3s;
    transition: width 0.3s, min-width 0.3s;
}

.navbar-brand {
    max-width: 12.5rem;
    width: 100%;
    height: 8.5625rem;
    margin-top: -3.4375rem;
    background: #fff;
}

.navbar-nav {
    width: 100%;
    padding: 0 2.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.025em;
}

.navbar-nav a{
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #fff;
}

.dropdown-menu {
    background: #edb056;
    margin-top: 1.875rem;
    max-height: 15rem;
    overflow-y: scroll;
    white-space: normal!important;
}

.navbar-nav a:hover {
    color: #e2cc9d!important;
}

.dropdown-menu::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.dropdown-menu::-webkit-scrollbar-track-piece  {
    background-color: transparent;
    border-radius: 0.3125rem;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    height: 1.5625rem;
    background-color: #fff0;
    border-radius: 0.1875rem;
}

.dropdown-menu:hover::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.info-phones {
    padding: 0.3125rem 2.7%;
    background: #edb056;
    font-family: "PTSerif";
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    min-width: 250px;
}

.navbar-toggler {
    background: #edb056;
    margin: 22px 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
    -webkit-transition: 1s;
    transition: 1s;
    color: #fff;
}

.btn-navbar-rotate {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.fa-ellipsis-h-alt {
    font-size: 1.875rem;
    line-height: 1.875rem;
}

.navbar-toggler:hover .navbar-toggler-icon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #586f69;
}

.navbar-toggler:hover .btn-navbar-rotate {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

@media (max-width: 1199.5px) and (min-width: 991.5px) {
    .navbar-nav {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
    }
}
@media (max-width: 991.5px) {
    .motto {
        padding-left: 13.4375rem;
    }
    .info-phones {
        margin-left: 0.9375rem;
        margin-right: auto;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .navbar-toggler {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .navbar-collapse {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        max-height: 18.75rem;
        overflow-y: scroll;
    }
    .navbar-nav {
        font-size: 1rem;
        padding: 0.9375rem;
    }
    .navbar-collapse::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }
    .navbar-collapse::-webkit-scrollbar-track-piece  {
        background-color: transparent;
        border-radius: 0.3125rem;
    }
    .navbar-collapse::-webkit-scrollbar-thumb {
        height: 1.5625rem;
        background-color: #edb056;
        border-radius: 0.1875rem;
    }
}

@media (max-width: 767.5px) {
    .navbar-brand {
        max-width: 9.375rem;
        height: 8.3125rem;
    }
    .navbar-brand img {
        width: 75%;
    }
    .motto {
        font-size: 0.766rem;
        padding-left: 11rem;
    }
    .sb-search-open {
        min-width: 13.125rem;
    }
    .nav-info--bottom {
        min-height: 4.375rem;
    }
    .navbar-toggler {
        margin: 1.0625rem 0;
    }
    .info-phones {
        margin-left: 1.5625rem;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .dropdown-menu {
        margin-top: 0.625rem;
        padding: 0;
        border: 0;
    }
}

@media (max-width: 575.5px) {
    .navbar-brand {
        max-width: 11rem;
    }
    .navbar-brand img {
        width: 75%;
    }
    .motto {
        padding-left: 12rem;
        font-size: 0.755rem;
    }
    .sb-search {
        margin-right: 0.625rem;
    }
    .sb-search-open {
        min-width: 13.125rem;
    }
    .info-phones {
        margin-left: 0.625rem;
    }
    .navbar-toggler {
        margin-right: 0.625rem;
    }
}
@media (max-width: 500.5px) {
    .motto > span:first-child {
        display: none;
    }
    .info-phones {
        -ms-flex-preferred-size: 40% !important;
        flex-basis: 40% !important;
        min-width: 40%;
        padding: 5px;
        font-size: 10px;
    }
}
@media (max-width: 400.5px) {
    .navbar-light {
        padding: 0!important;
    }
    .info-phones {
        -ms-flex-preferred-size: 37% !important;
        flex-basis: 37% !important;
        min-width: 37%;
        padding: 0 3px;
        margin: 0;
    }
    .info-phones > .row {
        white-space: nowrap!important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    .navbar-toggler {
        margin: auto 0;
    }
}
@media (max-width: 340.5px) {
    .navbar-light {
        padding: 0 15px!important;
    }
    .info-phones {
        display: none !important;
    }
    .navbar-toggler {
        margin: auto 30px;
    }
}

/*Стили для IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body > header {
        position: fixed;
        left: 0;
        right: 0;
    }
    .bottom-useful-links {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .orange_circle img,
    .sales_flooring-heading-text,
    .motto span, 
    .katalog-main--heading-wrapper h1 {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .about_manufacture-text_block {
        background: rgba(88, 111, 105, 0.75);
    }
}
/*End Стили для IE*/
/*End header*/

/*Footer*/
body > footer {
    background-color: #353535;
    position: relative;
}

.main-footer {
    padding: 1.25rem 0;
}

.sprites {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.socials > img {
    padding-right: 0.5rem;
    opacity: 0;
}
.socials-vk {
    background: left / contain no-repeat url(../icons/vk.svg);
}
.socials-vk:hover {
    background: left / contain no-repeat url(../icons/vk-hover.svg);
}
.socials-fb {
    background: left / contain no-repeat url(../icons/f.svg);
}
.socials-fb:hover {
    background: left / contain no-repeat url(../icons/f-hover.svg);
}
.socials-insta {
    background: left / contain no-repeat url(../icons/insta.svg);
}
.socials-insta:hover {
    background: left / contain no-repeat url(../icons/insta-hover.svg);
}
.socials-houzz {
    background: left / contain no-repeat url(../icons/houzz.svg);
}
.socials-houzz:hover {
    background: left / contain no-repeat url(../icons/houzz-hover.svg);
}
.socials-whatsapp {
    background: left / contain no-repeat url(../icons/whatsapp.svg);
}
.socials-whatsapp:hover {
    background: left / contain no-repeat url(../icons/whatsapp-hover.svg);
}

.footer-copy {
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #e6e5e5;
}

.footer-copy--copyright {
    font-family: PTSerif;
    font-size: 1rem;
    font-style: italic;
}

.footer-hotlog {
}

@media (max-width: 991.5px) {
    .sprites-socials {
        padding: 0;
    }
    .sprites {
    }
    .socials {
        margin: auto;
    }
    .sprites {
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom: 40px;
    }
}
@media (max-width: 767.5px) {
    .hotlog-telephone {
        max-height: 3.125rem;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .socials > img {
        padding-right: 0;
    }
}
@media (max-width: 575.5px) {
    .main-footer {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }    
    .sprites {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        height: 100%;
    }
}
/*End footer*/

/*Основной контент*/
.katalog-manufacture--header, 
.katalog-main--header {
    max-height: 20.625rem;
    height: 20.625rem;
}

.katalog-manufacture--header {
    background: url(../img/gerflor/main/gerflor_02.jpg);
}

.heading-main--wrapper {
    background-color: #edb056;
    padding: 0.625rem 3rem;
    min-height: 90px;
}

.katalog-manufacture h1 {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0.05em;
    color: #fff;
}

.manufacture-desc {
    padding: 2rem 2.8125rem;
    padding-right: 1.6875rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #586f69;
}

.manufacture-desc h2 {
    margin: 0;
    margin-bottom: 0.9375rem;
    font-size: 1.5rem;
    color: #e2a459;
}

.nav-on-page {
    margin-top: -3.75rem;
    padding: 0 0.9375rem 0 2.375rem;
}

.nav-on-page li {
    margin-bottom: 2.3125rem;
    position: relative;
}

.nav-on-page a {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #586f69;
    width: 100%;
    padding: 0.75rem 1.5625rem;
    z-index: 100;
    opacity: 0.99;
}

.nav-on-page li::before {
    content: "";
    height: 100%;
    position: absolute;
    width: 0.25rem;
    background: #edb056;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 0.125rem;
    left: 0;
}

.nav-on-page li:hover {
    border-left: 0.9375rem solid transparent;
}

.nav-on-page li:hover::before {
    width: 100%;
}

.nav-on-page li:hover > a {
    text-decoration: none;
    color: #fff;
}

.search-on-page {
    width: 100%;
    padding: 0.625rem 0 0.8125rem;
}

.search-on-page--form {
    position: relative;
}

.search-on-page--input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.875rem 4.0625rem 0.8125rem 2.5rem;
    background: #e8e8e8;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #fff;
}

.search-on-page--input::-webkit-input-placeholder {
    color: #fff;
}

.search-on-page--input::-moz-placeholder {
    color: #fff;
}

.search-on-page--search {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 1.875rem;
    width: 1.875rem;
    height: auto;
    opacity: 0;
}

.search-on-page--search-icon {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 1.875rem;
    width: 1.875rem;
    height: auto;
}

.search-on-page--search-icon .fa-search {
    margin: auto;
    font-size: 1.6875rem;
    color: #fff;
}

.search-on-page--form:hover .fa-search,
.search-on-page--input:focus + .search-on-page--search-icon > .fa-search {
    color: #edb056;
}

.column-list-floorings {
    margin-top: 0.8125rem;
    height: 100%;
    background-color: #f7f7f7;
}

.column-list-floorings--img {
    width: 100%;
}

.column-list-floorings--list {
    padding: 2.0625rem 0.9375rem 4.375rem 2.8125rem;
}

.column-list-floorings--list-heading {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #edb056;
}

.column-list-floorings--list-primarylist {
    margin: 0;
    padding: 0;
    margin-top: 1.5625rem;
    list-style: none;
}

.column-list-floorings--list-primarylist > li {
    margin-bottom: 0.9375rem;
}

.column-list-floorings--list-primarylist > li > a {
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #586f69;
    display: block;
    padding-left: 1.875rem;
}
 
.column-list-floorings--list-primarylist > li::before{
    content: '';
    display: inline-block;
    height: 0.625rem;
    width: 0.625rem;
    vertical-align: middle;
    background-color: #e2a459;
    float: left;
    margin-top: 0.3125rem;
}

.column-list-floorings--list-sublist {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 1.25rem;
    margin-left: 2.125rem;
}

.column-list-floorings--list-sublist > li {
    padding-left: 1.875rem;
    position: relative;
}

.column-list-floorings--list-sublist > li::before {
    position: absolute;
    content: '';
    display: inline-block;
    vertical-align: middle;
    bottom: 0.625rem;
    left: 0;
    height: 1.5625rem;
    width: 1.0625rem;
    border-left: 0.0625rem solid #e2a459;
    border-bottom: 0.0625rem solid #e2a459;
}

.column-list-floorings--list-sublist li > a {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: #586f69;
}

.column-list-floorings--list > h4 {
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #e2a459;
    padding-left: 0;
}

.about_manufacture {
    background: url(../img/gerflor/main/about_gerflor.jpg);
    border-top: 0.25rem solid #edb056;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.about_manufacture-text_block {
    padding: 2.6875rem 3.375rem 4.375rem 3.25rem;
    background-color: #586f69c0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #fff;
}

.about_manufacture-text_block > h2 {
    font-size: 1.5rem;
}

.using_sphere--header {
    padding: 3rem 0.9375rem 2.875rem;
}

.using_sphere--header > h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #e2a459;
}

.sphere_icons {
    width: 5.4375rem;
    height: 6.125rem;
    background-color: #edb056;
}

.sphere_desc_icons {
    padding: 1.25rem 2.1875rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #586f69;
    background-color: #f2eeeb;
}

.installation_linol {
    padding: 5rem 2.8125rem 6.875rem 3.125rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #586f69;
}

.installation_linol > h2 {
    font-size: 1.5rem;
    color: #e2a459;
    position: relative;
}

.installation_linol > h2::before {
    display: block;
    content: "";
    position: absolute;
    left: -3.125rem;
    top: -0.25rem;
    width: 0.8125rem;
    height: 2.1875rem;
    background: #edb056;
}

.surface_maintenance {
    background-color: #f7f7f7;
}

.surface_maintenance-text {
    padding: 2.8125rem 3.4375rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #586f69;
}

.surface_maintenance-text > h2 {
    font-size: 1.5rem;
    color: #e2a459;
}

.usefull_articles,
.sales_flooring,
.discounts_promotions {
    margin-top: 0.625rem;
    border-top: 0.25rem solid #edb056;
    padding-top: 0.625rem;
    margin-bottom: 1.625rem;
    overflow: hidden;
}

.usefull_articles {
    margin-right: 0.46875rem;
}

.usefull_articles-wrapper, 
.sales_flooring-wrapper, 
.discounts_promotions-wrapper {
    height: 12.25rem;
    overflow: hidden;
    position: relative;
}

.orange_circle {
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 50%;
    position: absolute;
    background-color: #edb056;
    top: -0.8125rem;
    right: -0.8125rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.usefull_articles-img,
.sales_flooring-img,
.discounts_promotions-img {
    max-height: 12.25rem;
    height: 100%;
    background: center / contain no-repeat url(../img/gerflor/main/book.jpg);
    opacity: 0.64;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.sales_flooring-img {
    background: center / cover no-repeat url(../img/gerflor/main/proposal.jpg);
}

.discounts_promotions-img {
    background: center / contain no-repeat url(../img/gerflor/main/promotions_discounts.jpg);
}

.usefull_articles-text, 
.sales_flooring-text, 
.discounts_promotions-text {
    margin-top: 0.125rem;
    padding: 1.5625rem 0.625rem 1.5625rem;
    background-color: #f7f7f7;
}

.usefull_articles-text > h3,
.sales_flooring-text > h3,
.discounts_promotions-text > h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #4e614d;
    position: relative;
}

.usefull_articles-text > h3 > img, 
.sales_flooring-text > h3 > img, 
.discounts_promotions-text > h3 > img {
    margin-left: 1.375rem;
    margin-bottom: 0.375rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.usefull_articles:hover,
.sales_flooring:hover,
.discounts_promotions:hover {
    color: #4e614d;
}

.usefull_articles:hover .orange_circle,
.sales_flooring:hover .orange_circle,
.discounts_promotions:hover .orange_circle {
    width: 6.25rem;
    height: 6.25rem;
    margin: -1rem;
    padding: 1.25rem;
}

.usefull_articles:hover .usefull_articles-img,
.sales_flooring:hover .sales_flooring-img,
.discounts_promotions:hover .discounts_promotions-img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.usefull_articles:hover h3 > img,
.sales_flooring:hover h3 > img,
.discounts_promotions:hover h3 > img {
    padding-left: 0.625rem;
}

.sales_flooring {
    margin-right: 0.78125rem;
    margin-left: 0.78125rem;
}

.discounts_promotions {
    margin-left: 0.46875rem;
}

.sales_flooring-heading{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sales_flooring-heading-text {
    font-size: 2.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.075em;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.sales_flooring:hover .sales_flooring-heading-text {
    font-size: 2.5rem;
}

@media (max-width: 1199.5px) {
    .usefull_articles-wrapper, 
    .sales_flooring-wrapper,
    .discounts_promotions-wrapper {
        height: 9.6875rem;
    }
    .usefull_articles-text > h3 > img, 
    .sales_flooring-text > h3 > img, 
    .discounts_promotions-text > h3 > img {
        margin-left: 0.9rem;
    }
}

@media (max-width: 991.5px) {
    .header-with-img {
        height: 14.0625rem;
    }
    .nav-on-page {
        margin-top: -5.625rem;
    }
    .column-list-floorings--list {
        padding-left: 2rem;
    }
    .sphere_desc_icons {
        font-size: 0.9rem;
        line-height: 1.2rem;
        padding: 0.625rem 0.625rem 0.625rem 1.25rem;
    }
    .surface_maintenance-text {
        padding: 2.1875rem;
        font-size: 1rem;
    }
    .surface_maintenance-text > h2 {
        font-size: 1.5rem;
    }
    .installation_linol {
        padding: 3.125rem 2.1875rem 3.125rem 3.125rem;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.01em;
    }
    .usefull_articles-wrapper, 
    .sales_flooring-wrapper,
    .discounts_promotions-wrapper {
        height: 7.0625rem;
    }
    .orange_circle {
        width: 3.625rem;
        height: 3.625rem;
    }
    .usefull_articles:hover .orange_circle,
    .sales_flooring:hover .orange_circle,
    .discounts_promotions:hover .orange_circle {
        width: 4.875rem;
        height: 4.875rem;
        top: -0.1875rem;
        right: -0.1875rem;
    }
    .sales_flooring-heading-text {
        font-size: 1.875rem;
    }
    .sales_flooring:hover .sales_flooring-heading-text {
        font-size: 2.25rem;
    }
}
@media (max-width: 767.5px) {
    .manufacture-desc {
        padding: 2rem 2.8125rem 2rem 0;
    }
    .nav-on-page {
        padding-left: 0;
        padding-right: 0;
    }
    .using_sphere--header {
        padding: 2.8125rem 0.9375rem 2.25rem;
    }
    .sphere_icons {
        width: 4.8125rem;
        height: 4.875rem;
    }
    .sphere_icons img {
        width: 75%;
    }
    .installation_linol {
        padding-top: 2.5rem;
        padding-bottom: 1.875rem;
    }
    .bottom-useful-links div:nth-child(1) {
        -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
        order:2;
    }
    .bottom-useful-links div:nth-child(2) {
        -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
        order:1;
    }
    .bottom-useful-links div:nth-child(3) {
        -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
        order:3;
    }
    .usefull_articles-wrapper, 
    .sales_flooring-wrapper,
    .discounts_promotions-wrapper {
        height: 11.5625rem;
    }
}
@media (max-width: 575.5px) {
    html {
        font-size: 14px;
    }
    .heading-main--wrapper {
        width: 100% !important;
        margin-right: 0 !important;
    }
    .nav-on-page {
        display: none;
    }
    .manufacture-desc {
        padding-right: 0.9375rem;
        padding-bottom: 0.9375rem;
    }
    .search-on-page--input {
        padding-left: 0.9375rem;
    }
    .about_manufacture-text_block {
        padding: 1.6rem;
    }
    .installation_linol {
        padding: 20px;
    }
    .installation_linol > h2::before {
        left: -20px;
        bottom: 0;
        height: auto;
    }
    .surface_maintenance-text {
        padding: 30px 20px;
    }
    .bottom-useful-links > .col-12 {
        padding: 0;
    }
    .discounts_promotions-img,
    .sales_flooring-img,
    .usefull_articles-img {
        background-size: cover;
    }
    .usefull_articles,
    .sales_flooring,
    .discounts_promotions {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
/*End Основной контент*/
/*Каталог общий*/
.katalog-main--header {
    background: url(../img/general_catalogue/top-2-best_02.jpg);
}

.katalog-main--header h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1875rem;
    color: #fff;
}

.nav-on-page li:first-child>a {
    color: #fff;
}

.katalog-main--desc h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
}

.katalog-main .nav-on-page {
    margin-top: -5rem;
}

.katalog-main .nav-on-page a {
    color: #586f69;
}

.katalog-main .nav-on-page li:hover {
    border: 0;
}

.katalog-main .nav-on-page li:hover a {
    color: #586f69;
}

.katalog-main .nav-on-page li:first-child:hover a {
    color: #fff;
}

.katalog-main .nav-on-page li:hover::before {
    width: 0.25rem;
}

.katalog-main .nav-on-page li::before {
    content: "";
    position: absolute;
    width: 0.25rem;
    background: #edb056;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 1rem;
    bottom: 0.75rem;
    height: auto;
    left: 0;
}

.katalog-item {
    overflow: hidden;
    margin: 0 0.625rem;
    display: block;
}

.col-sm-3:nth-child(4n+1) > .katalog-item {
    margin-right: 0.46875rem;
}

.col-sm-3:nth-child(4n+2) > .katalog-item {
    margin-left: 0.78125rem;
}

.col-sm-3:nth-child(4n+3) > .katalog-item {
    margin-right: 0.78125rem;
}

.col-sm-3:nth-child(4n+4) > .katalog-item {
    margin-left: 0.46875rem;
}

.katalog-item-back {
    background: top / contain no-repeat;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 13.625rem;
}

.katalog-item--natural_linol-back {
    background-image: url(../img/general_catalogue/top-2-best_05.jpg);
}
.katalog-item--linol_pvc-back {
    background-image: url(../img/general_catalogue/top-2-best_05-07.jpg);
}
.katalog-item--carpet-back {
    background-image: url(../img/general_catalogue/top-2-best_07.jpg);
}
.katalog-item--wall_flooring-back {
    background-image: url(../img/general_catalogue/top-2-best_11.jpg);
}
.katalog-item--sport_flooring-back {
    background-image: url(../img/general_catalogue/top-2-best_17.jpg);
}
.katalog-item--tile_pvc-back {
    background-image: url(../img/general_catalogue/top-2-best_18.jpg);
}
.katalog-item--tile_carpet-back {
    background-image: url(../img/general_catalogue/top-2-best_17-19.jpg);
}
.katalog-item--stoneware-back {
    background-image: url(../img/general_catalogue/top-2-best_20.jpg);
}
.katalog-item--flooring_chem-back {
    background-image: url(../img/general_catalogue/top-2-best_28-29.jpg);
    height: 13.5rem;
}
.katalog-item--dirtyshield_system-back {
    background-image: url(../img/general_catalogue/top-2-best_30.jpg);
    height: 13.5rem;
}
.katalog-item--plinths-back {
    background-image: url(../img/general_catalogue/top-2-best_26.jpg);
    height: 13.5rem;
}
.katalog-item--construct_works-back {
    background-image: url(../img/general_catalogue/top-2-best_28.jpg);
    height: 13.5rem;
}

.katalog-item-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 4.25rem;
    background-color: #f7f7f7;
    z-index: 10;
    padding: 0.5625rem;
}

.katalog-item-desc > h3 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #4e614d;
    letter-spacing: 0.028125rem;
    margin: auto;
}

.katalog-item:hover {
    color: #4e614d;
}

.katalog-item:hover .katalog-item-back {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.block_gray_orange_mark {
    width: 100%;
    position: relative;
    background: #f7f7f7;
    padding: 3.4375rem 0;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #586f69;
}

.block_gray_orange_mark > h3 {
    position: relative;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.015em;
    color: #e2a459;
}

.block_gray_orange_mark > h3::before {
    position: absolute;
    content: "";
    left: 0;
    top: -0.3125rem;
    width: 0.8125rem;
    height: 2.1875rem;
    background: #edb056;
}

.block_gray_orange_mark-floating_block {
    position: absolute;
    top: 0.9375rem;
    right: 1.25rem;
}

.our_projects-header {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: #4e614d;
}

.our_projects-header > h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.015rem;
    color: #586f69;
}

.our_partners > h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.015rem;
    color: #586f69;
}

.our_partners-sample {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
}

.our_partners-sample > img {
    margin: auto;
    width: auto;
}

.link-image {
    overflow: hidden;
}

.link-image > img {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.our_projects-photos--description {
    top: 0;
    min-height: 3rem;
    background: #586f69b3;
    color: #fff;
    font-family: "PTSerif";
    font-style: italic;
    font-size: 0.875rem;
    line-height: 1rem;
    padding: 5px;
}

.link-image:hover .our_projects-photos--description > span {
    color: #fff;
    text-decoration: underline;
}

.link-image:hover > img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 1199.5px) {
    .katalog-item-back {
        height: 10.75rem;
    }
    .katalog-main .nav-on-page {
        margin-top: -5.4rem;
    }
    .our_projects-photos {
        width: 50%;
    }
    .our_partners-samples > .row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media (max-width: 991.5px) {
    .katalog-item-back {
        height: 7.875rem;
    }
    .minus_margin-lg-110 {
        -ms-flex-preferred-size: 220%;
        flex-basis: 220%;
        max-width: 220%;
        margin-right: -110%;
    }
}
@media (max-width: 767.5px) {
    .katalog-main--header .heading-main--wrapper {
        padding-left: 2rem;
    }
    .katalog-main--desc {
        padding-right: 1.25rem;
    }
    .nav-on-page li:first-child>a {
        color: #586f69;
    }
    .katalog-main .col-12:nth-child(2) .nav-on-page {
        margin-top: 0;
    }
    .katalog-main .nav-on-page li {
        margin-bottom: 0.4375rem;
    }
    .katalog-item-back {
        height: 5.75rem;
    }
    .katalog-item-desc > h3 {
        font-size: 0.9rem;
    }
    .minus_margin-lg-110 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
        margin-right: 0;
    }
}
@media (max-width: 575.5px) {
    .katalog-item-back {
        background-size: cover;
        background-position: center;
    }
    .katalog-item {
        margin: 0;
    }
    .col-sm-3:nth-child(4n+1) > .katalog-item {
        margin-right: 0rem;
    }
    .col-sm-3:nth-child(4n+2) > .katalog-item {
        margin-left: 0rem;
    }
    .col-sm-3:nth-child(4n+3) > .katalog-item {
        margin-right: 0rem;
    }
    .col-sm-3:nth-child(4n+4) > .katalog-item {
        margin-left: 0rem;
    }
    .our_projects-photos {
        padding-left: 0.9rem;
    }
    .katalog-item-back {
        height: 10.125rem;
    }
}
/*End Каталог общий*/
/*Боковое меню*/
.anchor-aside {
    position: relative;
}

.aside-nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5rem;
    border-right: 0.125rem solid #deab69;
    -webkit-box-shadow: 0.1875rem 0.25rem 0.3125rem rgba(0, 0, 0, 0.13);
    box-shadow: 0.1875rem 0.25rem 0.3125rem rgba(0, 0, 0, 0.13);
    z-index: 25;
    background: #fff;
    cursor: pointer;
}

.scroll-floating--pseudo::after {
    content: "";
    display: block;
    border-left: 0.4375rem solid #deab69;
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    border-right: 0.4375rem solid transparent;
    position: absolute;
    right: -1.0625rem;
    top: 5%;
    z-index: 25;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.scroll-floating--pseudo-fixed::after {
    position: fixed;
    right: unset;
    left: 80px;
    top: 50%;
}

.aside-heading_wrapper {
    margin: auto;
    margin-top: 235px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 35%;
}

.aside-nav h4 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.05625em;
    color: #5d585c;
    -webkit-transform: rotate(-90deg) translateX(-50%);
    transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    margin: auto;
}

.aside-nav--content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 0.125rem solid #deab69;
    -webkit-box-shadow: 0.1875rem 0.25rem 0.3125rem rgba(0, 0, 0, 0.13);
    box-shadow: 0.1875rem 0.25rem 0.3125rem rgba(0, 0, 0, 0.13);
    z-index: 20;
    max-width: 5rem;
    min-width: 5rem;
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: #fff;
}

.aside-nav--content-open::after {
    content: "";
    display: block;
    border-right: 0.6875rem solid #deab69;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 0.6875rem solid transparent;
    position: absolute;
    right: 0.25rem;
    top: 5%;
    z-index: 20;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.aside-nav--content-open {
    max-width: none;
    padding-left: 5.3125rem;
    -webkit-box-shadow: 0.1875rem 0.25rem 0.3125rem rgba(0, 0, 0, 0.26);
    box-shadow: 0.1875rem 0.25rem 0.3125rem rgba(0, 0, 0, 0.26);
    min-width: 26.875rem;
}

.aside-nav--header {
    position: relative;
    background-color: #ede9e7;
    padding-left: 2.5rem;
}

.aside-nav--header > h2 {
    opacity: 0.65;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #403533;
}

.aside-nav--header > .fa-times {
    position: absolute;
    top: 0.5rem;
    right: 0.625rem;
    color: #4e614d;
    font-size: 1.6875rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.aside-nav--header > .fa-times:hover {
    cursor: pointer;
    color: #edb056;
}

.aside-nav--content-main {
    padding-left: 2.5rem;
    padding-right: 1.875rem;
    margin-top: 2.625rem;
}

.aside-nav--list-item {
    margin-bottom: 0.625rem;
}

.aside-nav--list-item > a {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #586f69;
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.aside-nav--list-item > a:hover, .aside-nav--list-item > .active {
    color: #deab69;
    padding-left: 1.25rem;
}

.aside-nav--list-item > a::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -0.1875rem;
    width: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.aside-nav--list-item > a:hover::before, .aside-nav--list-item > .active::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -0.1875rem;
    width: 0.4375rem;
    min-height: 2rem;
    background: #ede9e7;
}

.aside-nav--header-sub {
    background: #edb056;
}

.aside-nav--header-sub h3 {
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.025em;
    color: #fff;
    opacity: 65%;
}

.aside-fix-height::-webkit-scrollba,
.aside-nav--wrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    cursor: pointer;
}
.aside-fix-height::-webkit-scrollbar-track-piece,
.aside-nav--wrapper::-webkit-scrollbar-track-piece  {
    background-color: #fff;
    cursor: pointer;
}
.aside-fix-height::-webkit-scrollbar-thumb,
.aside-nav--wrapper::-webkit-scrollbar-thumb {
    height: 1rem;
    background-color: #edb056;
    border-radius: 0.375rem;
    cursor: pointer;
}
.aside-fix-height::-webkit-scrollbar-thumb:hover,
.aside-nav--wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #e2a459;
}

.aside-nav--content-open--floating::after {
    position: fixed;
    top: 50%;
    bottom: unset;
    left: 403px;
    right: unset;
}
.aside-nav--content-open > .aside-nav--wrapper--floating {
    position: fixed;
    top: 0;
    padding-top: 20px;
    overflow-y: scroll;
    width: 343px;
}

@media (max-width: 1370px) and (min-width: 1199.5px),
(max-width: 1110px) and (min-width: 991.5px),
(max-width: 860px) and (min-width: 767.5px),
(max-width: 684px) {
    .aside-nav {
        width: 1.5rem;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    .aside-nav--content {
        max-width: 1.5rem;
        min-width: 1.5rem;
    }
    .aside-heading_wrapper {
        padding-left: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    .aside-nav:hover {
        width: 5rem;
    }
    .aside-nav:hover .aside-heading_wrapper {
        padding-left: 35%;
    }
    .aside-nav--content-open {
        max-width: 9999px;
    }
}
@media (max-width: 1210px) {
    .anchor-aside {
        padding-left: 1.5rem!important;
    }
}

.asideNavFirst {
    width: 5rem;
}

.asideHeadingWrapper {
    padding-left: 35%;
}
/*End Боковое меню*/

/*Внутренняя страница каталога*/
.collection_name {
    width: auto;
    background-color: #5a5456;
    padding: 69px 15px 63px;
}

.collection-header {
    max-height: 425px;
    height: 100%;
}

.collection-top-buttons--wrapper > div:first-child {
    padding-right: 12px;
}

.collection-top-buttons--wrapper {
    
}
.btn-hover_scale--wrapper {
    overflow: hidden;
    cursor: pointer;
}
.btn-hover_scale--wrapper img {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-hover_scale--background {
    background: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.64;
}
.btn-hover_scale--text {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #5a5456;
    padding: 25px 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.big-plus-mark {
    background: #fff;
    height: 26px; 
    width: 2px;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.big-plus-mark:after {
    content: "";
    height: 2px; 
    width: 26px;
    background: #fff;
    position: absolute; 
    left: -12px;
    top: 12px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-hover_scale--wrapper:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.btn-hover_scale--wrapper:hover .btn-hover_scale--background {
    opacity: 0;
}
.btn-hover_scale--wrapper:hover .btn-hover_scale--text {
    top: 200%;
}
.btn-hover_scale--wrapper:hover .big-plus-mark {
    -webkit-transform: rotateZ(35deg);
    transform: rotateZ(35deg);
    left: 5px;
}
.btn-hover_scale--wrapper:hover .big-plus-mark::after {
    width: 17px;
    left: -15px;
    top: 23px;
    -webkit-transform: rotateZ(8deg);
    transform: rotateZ(8deg);
}

.collection_name h1 {
    font-family: "PTSans";
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #fff;
}

.collection_in--text-heading h2 {
    margin: 0;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-family: "PTSerif";
    font-size: 24px;
    line-height: 24px;
    font-style: italic;
    color: #e9be89;
}

.btn--to_see_items {
    width: 154px;
    background-color: #e9be89;
    min-height: 55px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: #fff;
}
.btn--to_see_items:hover {
    color: #fff;
}

.arrow-bottom--left {
    position: relative;
}

.arrow-bottom--left:before {
    content: "";
    background: top / contain no-repeat url(../icons/arrow-side.svg);
    height: 11px;
    width: 12px;
    position: absolute;
    top: 50%;
    left: -24px;
    -webkit-transform: rotate(90deg) translateX(-50%);
    transform: rotate(90deg) translateX(-50%);
}

.collection_in--text {
    margin-top: 32px;
    margin-bottom: 55px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #586f69;
    margin-right: 56px;
}

.collection_in--text-wrapper {
    overflow: hidden;
    max-height: 210px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.btn--open-full, .btn--open-full-on {
    position: absolute;
    bottom: -24px;
    right: 32px;
    color: #c8c0be;
    cursor: pointer;
}
.btn--open-full::after {
    content: "";
    position: absolute;
    border-bottom: 7px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid #e4d9c5;
    bottom: 0;
    right: -31px;
}

.btn--open-full-on::after {
    -webkit-transform: rotatex(180deg) translate(0, 50%);
    transform: rotatex(180deg) translate(0, 50%);
}

.collection-features--wrapper {
    margin-bottom: 55px;
    position: relative;
}

.collection-features {
    max-height: 297px;
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.collection-features---heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: -42px;
    top: 50%;
    margin-top: 20px;
}

.collection-features---heading h3 {
    -webkit-transform: rotate(-90deg) translateX(-50%);
    transform: rotate(-90deg) translateX(-50%);
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;
    margin: auto;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #edb056;
}

.table-top-items--heading-wrapper:nth-child(2), .table-top-items--wrapper:nth-last-child(2) {
    padding-right: 12px;
}

.table-top-items--heading {
    background-color: #91a9a3;
    min-height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: #fff;
    padding: 5px 23px;
    text-align: center;
    height: 100%;
}

.table-top-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 55px;
    background-color: #f7f7f7;
    height: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #374436;
}

.collection-features--table td {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #374436;
    text-align: right;
    padding: 8px 70px 10px 10px; 
}

.collection-features--table td:first-child {
    border-left: 7px solid #fff;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #586f69;
    padding: 8px 8px;
    text-align: left;
    width: 60%;
}

.collection-features--table td {
    border-bottom: 3px solid  #f7f7f7; 
}

.desired-items--heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 70px;
    background-color: #586f69;
    
}

.desired-items--block {
    background-color: #f7f7f7;
    padding-bottom: 10px;
}
.desired-items--heading h3 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #f2eeeb;
}

.desired-items h4 {
    margin: 36px 0 26px;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #e2a459;
}

.desired-item--desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 206px;
    font-family: "PTSerif";
    font-size: 16px;
    line-height: 18px;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.025em;
    color: #aeaeae;
    min-height: 58px;
}

.desired-items a:hover {
    color: #e2a459;
}

.btn--order-flooring {
    min-height: 30px;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.31);
    margin: 0 20px;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    background: #696667;
    font-family: "PTSerif";
    font-size: 16px;
    line-height: 13px;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #fff;
}

a:hover .btn--order-flooring {
    text-decoration: none;
}

.goods-items--heading {
    min-height: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.goods-items--heading h3 {
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #586f69;
    margin: auto;
}

.good-item {
    max-width: 228px;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.good-item--desc-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 70px;
    background-color: #ffffff6d;
    -webkit-transition: 0.3s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: hidden;
}
.good-item--desc {
    margin: auto;
    font-family: "PTSerif";
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #403533;
    overflow: hidden;
}
.good-item--desc > span {
    font-family: "PTSans";
    font-style: normal;
}

.good-item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.good-item:hover .good-item--desc-wrapper {
    min-height: 0;
    max-height: 0;
}
.link-to-collections {
    padding-top: 14px;
    white-space: nowrap;
}
.link-to-collections > a {
    font-family: "PTSans";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #586f69;
}
.collection--useful-info > h3 {
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #586f69;
    position: relative;
    margin: 17px 0 34px;
}
.collection--useful-info > h3::after, .collection--useful-info > h3::before {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid #586f69;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    top: 50%;
    width: 32%;
    right: 0;
}
.collection--useful-info > h3::before {
    left: 0;
}
.no-gutters .collection--sale {
    padding-right: 13px;
}
.collection--sale-link {
    position: relative;
}

.collection--sale-wrapper {
    overflow: hidden;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}
.collection--sale-link img {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.collection--sale-heading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f7f7f75b;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.collection--sale-heading--text {
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.collection--sale-heading--text span:last-child {
    font-size: 20px;
    letter-spacing: 0.025em;
}

.arrow-in-right--right {
    position: relative;
}
.arrow-in-right--right::after {
    content: url(../icons/arrow-side.svg);
    -webkit-transform: translate(50%);
    transform: translateY(50%);
    position: absolute;
    top: 0;
    right: -65px;
}

.collection--sale-link:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.collection--sale-link:hover .collection--sale-heading {
    background: #fff0;
}
.collection--sale-link:hover .collection--sale-heading--text {
    padding-right: 50px;
}

.collection--document-download {
    padding-left: 40px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: #cc9d58;
}
.collection--document-download::before {
    content: url(../icons/arrow-down.svg);
    position: absolute;
    -webkit-transform: translate(50%);
    transform: translate(50%);
    left: -12px;
    top: 6px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    
}

.collection--document-download:hover::before {
    top: 12px;
}
.collection--document-download:hover {
    color: #cc9d58;
}

.collection-helpful_links--article:first-child {
    margin-right: 14px;

}
.collection-helpful_links--article {
    overflow: hidden;
    position: relative;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-bottom: 15px;
}
.collection-helpful_links--article img {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.collection-helpful_links--article > span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f7f7f7b7;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.collection-helpful_links--article h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #5a5456;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.collection-helpful_links--article .arrow-right {
    position: absolute;
    bottom: 14px;
    right: 17px;
    height: 18px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.collection-helpful_links--article:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.collection-helpful_links--article:hover span:nth-child(2) {
    background: #fff6;
}
.collection-helpful_links--article:hover h3 {
    -webkit-transform: scale(1.15) translateY(30px);
    transform: scale(1.15) translateY(30px);
}
.collection-helpful_links--article:hover .orange_circle, .collection-helpful_links--video:hover .orange_circle {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.collection-helpful_links--article:hover .orange_circle img, .collection-helpful_links--article:hover .orange_circle svg, .collection-helpful_links--video:hover .fa-video {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.collection-helpful_links--article:hover .arrow-right {
    right: -50px;
}

.collection-helpful_links--video {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.play_icon-wrapper {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    width: 276px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #e9e9e96d;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.play_icon-wrapper .fa-play {
    font-size: 38px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.orange_circle .fa-video {
    font-size: 27px;
}
.video-desc {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 440px;
    background: #f7f7f7c1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.video-desc h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #5a5456;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.collection-helpful_links--video:hover .fa-play {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
}

.collection-helpful_links--video .play_icon-wrapper span {
    -webkit-transition: 0.1s;
    transition: 0.1s;
    overflow: hidden;
    max-height: 100px;
}
.collection-helpful_links--video:hover .play_icon-wrapper span {
    max-height: 0;
    display: block;
}
.collection-helpful_links--video:hover .play_icon-wrapper {
    width: 360px;
}
.collection-helpful_links--video:hover .video-desc {
    width: 356px;
}
.collection-helpful_links--video h3 {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.collection-helpful_links--video:hover h3 {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}
.collection-helpful_links--video:hover .play_icon-wrapper {
    background: #e9e9e920;
}

.video_youtube, .video_youtube--background, .helpful_video {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.video_youtube--background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
    z-index: 50;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.helpful_video {
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 51;
}
/*End Внутренняя страница каталога*/















