/* Global styles */

.print, #VotingForm{display: none;}
html {font-size: 100.1%;}
html,body,form {padding: 0px; margin: 0px; }
html, body {background-color: white; height: 100%}
body{text-align: left; font-size: 70%; font-family: Tahoma, Arial, Verdana; color: #000000; background: url('pixel.gif') no-repeat; background-attachment: fixed;}
select, input, div, span, font, textarea {font-size: 100%; font-family: Tahoma, Arial, Verdana;}
a img, img, html, body{border: none;}
a img, img, a {outline: none !important;}
*:focus { outline: none; }
tr.mid td{vertical-align: middle;}
.fil{overflow: hidden; height: 6px; width: 100%;}
.fil1{overflow: hidden; height: 4px; width: 100%;}
.fil2{overflow: hidden; height: 14px; width: 100%;}
.fil3{overflow: hidden; height: 1px; margin: 18px 0px; width: 100%; background-color: #E1E2E5;}
.arc{font-family: Arial, Tahoma, Verdana;}
.upc{text-transform: uppercase;}
.white {background-color: white;}
a {color: #000000; text-decoration: underline;}
a:hover {color: #000000; text-decoration: none;}
.profi{width: 100%; color: #000000; font-size: 170%; padding-bottom: 60px; text-align: center;}
.bf{font-weight: bold;}
textarea{padding: 1px;}

/* Menu styles */

td.dtree {width: 99%; padding-top: 2px;}
td.dtree a, td.dtree a:hover {text-decoration: none;}
tr.dtree td{vertical-align: top; text-align: left;}
tr.dtree:hover, tr.dtree:hover a, tr.dtree a:hover{color: #446991;}

 /* Index styles */

.container {width: 100%; padding-bottom: 4px;}
.fix{overflow: hidden; height: 3px; background-color: #4F78A0; width: 100%;}
.headlink {color: #ffffff; padding: 5px 16px; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; background: #E58A40 url('mfon.gif') repeat-x top left;}
.headlink a {text-decoration: none;}
.headlink a:hover {text-decoration: underline;}
.center {padding: 0 4px;}
.poisk a, .headlink a{color: #ffffff;}
.htba{height: 94px; background: #446991 url('nfon.gif') repeat-x top left; padding-left: 15px;}
.htbb{padding-right: 16px; background: #446991 url('nfon.gif') repeat-x top left; width: 50%;}
.fonta{color: #ffffff; font-size: 200%; font-family: "Trebuchet MS", Arial, Verdana;}
.fontb{color: #ffffff; padding-left: 1px; font-size: 120%; font-family: "Trebuchet MS", Arial, Verdana;}
.poisk{color: #ffffff; width: 100%; background: #757A7B url('pfon.gif') repeat-x top left; border-top: 1px solid #ffffff;}
.poisk1{color: #ffffff; padding: 0px 16px; height: 30px;}
.btbl{text-align: left; color: #ffffff; padding: 0px 16px; height: 70px; background: #4F78A0 url('bfon.gif') repeat-x bottom left; font-weight: bold; vertical-align: middle;}
.delm {margin: 0px 4px; cursor: default;}
.pform{width: 360px; border: 1px solid #616265; padding-left: 2px;}
.stat {font-family: Tahoma, Arial, Verdana !important;}

/* Block styles */

#left, #right {width: 190px; background: #E1E2E5 url('bg.jpg') repeat-y top left;}
img.fixwidth {width: 190px; height: 1px;}
.blmtop{margin-top: 4px;}
.blm{padding: 0px;}
.cbt {padding: 4px 8px; background-color: #E1E2E5;}
.hd {padding: 5px 8px; background: #E4E6E9 url('') repeat-x top left; color: #000000;}
.hdb {padding: 12px 12px 14px 12px;}
.hdbtop {padding: 8px;}
.hmin {padding: 4px 0px;}
.hdbot{background: #E1E2E5; padding: 4px 8px;}
.hdbot a{font-weight: bold}
.hd a {color: #ffffff; text-decoration: none;}
.hd a:hover {color: #ffffff; text-decoration: none;}


/* Table styles */

table.gre {background-color: #D0D1D5;}
table.gre td{background-color: #ffffff;}
table.gre td.lt{ background-color: #E4E6E9; font-weight: bold;}
.pad{padding: 8px 8px;}
.padt{padding: 3px 8px;}

/* Other styles */

.price{ color: #DF7017; font-size: 126%; font-weight: bold;}
.market-price {background: url('line_through.gif') repeat-x center; color: #DF7017; font-size: 126%; font-weight: bold;}
.ptbl td{vertical-align: middle; text-align: left; padding: 3px 8px;}
#axcrt{border: 3px double #E48234; background: #FFEBB2; z-index: 100; width: 300px; height: 58px; font-size: 120%; padding-top: 42px;}
table.nl tr td a {text-decoration: none;}
table.nl tr td a:hover {text-decoration: underline;}
a.noline {text-decoration: none;}
a.noline:hover {text-decoration: underline;}
a.nl, a.nl:hover {text-decoration: none;}
.oki{color: #339933;}
.error{color: #ff6600;}
.cattop {margin-top: 4px; padding: 4px 0px;}
.imboxr {padding-left: 8px; text-align: center; vertical-align: top;}
.imboxl {padding-right: 8px; text-align: center; vertical-align: top;}
img.delim, td.delim{width: 4px; height: 4px;}